Repository Unidata/MetPy, pull requests merged in 2018-10, with the labels that each got.

#950 Remove edgecolor from county example
  examples/plots/US_Counties.py
Labels: Area: Examples, Type: Maintenance

#952 address pytest fixture warnings emitted by pytest==3.8.1
  metpy/calc/tests/test_calc_tools.py
  metpy/calc/tests/test_thermo.py
  metpy/tests/test_xarray.py
Labels: Area: Tests, Type: Maintenance

#953 Test cleanup
  examples/isentropic_example.py
  metpy/calc/basic.py
  metpy/calc/cross_sections.py
  metpy/calc/indices.py
  metpy/calc/kinematics.py
  metpy/calc/tests/test_calc_tools.py
  metpy/calc/tests/test_indices.py
  metpy/calc/tests/test_kinematics.py
  metpy/calc/tests/test_thermo.py
  metpy/calc/thermo.py
  metpy/calc/tools.py
  metpy/constants.py
  metpy/interpolate/grid.py
  metpy/interpolate/one_dimension.py
  metpy/io/cdm.py
  metpy/io/nexrad.py
  metpy/plots/skewt.py
  metpy/plots/station_plot.py
  metpy/tests/test_units.py
  metpy/xarray.py
  setup.cfg
  tutorials/xarray_tutorial.py
Labels: Area: Tests, Type: Maintenance

#956 MNT: Remove use of numpy.asscalar
  metpy/plots/station_plot.py
Labels: Area: Plots, Type: Maintenance

#951 Marginally increase testing coverage
  metpy/deprecation.py
  metpy/interpolate/tests/test_points.py
  metpy/tests/test_deprecation.py
  metpy/tests/test_units.py
Labels: Area: Tests, Type: Enhancement

#958 MNT: Make io module docstring conform to standards
  metpy/io/__init__.py
Labels: Area: Docs, Type: Maintenance

#962 Miscellaneous Cleanup
  examples/gridding/Point_Interpolation.py
  examples/gridding/Wind_SLP_Interpolation.py
  metpy/calc/basic.py
  metpy/calc/kinematics.py
  metpy/io/_nexrad_msgs/parse_spec.py
  metpy/io/gini.py
  metpy/io/nexrad.py
  tutorials/xarray_tutorial.py
Labels: Type: Maintenance
