Repository Unidata/MetPy, pull requests merged in 2018-04, with the labels that each got.

#796 BUG: Fix get_layer_heights modifying heights in-place (Fixes #789)
  metpy/calc/tests/test_kinematics.py
  metpy/calc/tests/test_tools.py
  metpy/calc/tools.py
Labels: Area: Calc, Type: Bug

#808 Doc and example fixups
  docs/developerguide.rst
  docs/installguide.rst
  docs/references.rst
  examples/gridding/Inverse_Distance_Verification.py
  examples/gridding/Natural_Neighbor_Verification.py
  examples/gridding/Point_Interpolation.py
  examples/gridding/Wind_SLP_Interpolation.py
  examples/isentropic_example.py
  examples/meteogram_metpy.py
  examples/sigma_to_pressure_interpolation.py
  tutorials/upperair_soundings.py
Labels: Area: Docs, Area: Examples, Type: Maintenance

#814 Documentation updates
  README.rst
  docs/index.rst
  docs/installguide.rst
  setup.py
Labels: Area: Docs, Type: Enhancement

#818 MNT: Fix travis doc build
  .travis.yml
Labels: Area: Docs, Type: Maintenance

#816 Hodograph arrows
  metpy/plots/skewt.py
  metpy/plots/tests/baseline/test_hodograph_wind_vectors.png
  metpy/plots/tests/test_skewt.py
Labels: Area: Plots, Type: Feature

#817 Feels like temperature
  docs/_static/NWS_10-201.pdf
  docs/references.rst
  metpy/calc/basic.py
  metpy/calc/tests/test_basic.py
Labels: Area: Calc, Type: Feature

#778 Add Q-vector and Static Stability Calculations
  docs/gempak.rst
  docs/references.rst
  metpy/calc/kinematics.py
  metpy/calc/tests/test_kinematics.py
  metpy/calc/tests/test_thermo.py
  metpy/calc/thermo.py
Labels: Area: Calc, Type: Feature

#783 Add new metpy/calc/tools parse_angle
  metpy/calc/tests/test_tools.py
  metpy/calc/tools.py
Labels: Area: Calc, Type: Feature

#824 Dewpoint From Specific Humidity
  metpy/calc/tests/test_thermo.py
  metpy/calc/thermo.py
Labels: Area: Calc, Type: Feature
