Repository Unidata/MetPy, pull requests merged in 2018-03, with the labels that each got.

#754 Absolute vorticity
  metpy/calc/kinematics.py
  metpy/calc/tests/test_kinematics.py
Labels: Area: Calc, Type: Feature

#765 CartoPy Updates
  examples/Four_Panel_Map.py
  examples/formats/GINI_Water_Vapor.py
  examples/gridding/Point_Interpolation.py
  examples/gridding/Wind_SLP_Interpolation.py
  examples/isentropic_example.py
  examples/plots/Station_Plot.py
  examples/plots/Station_Plot_with_Layout.py
  examples/sigma_to_pressure_interpolation.py
Labels: Area: Examples, Type: Maintenance

#766 Potential vorticity
  .codeclimate.yml
  metpy/calc/kinematics.py
  metpy/calc/tests/test_kinematics.py
Labels: Area: Calc, Type: Feature

#775 Coriolis units to 1/s
  metpy/calc/basic.py
  metpy/calc/tests/test_basic.py
Labels: Area: Calc, Type: Enhancement

#780 Remove `keys()`
  metpy/calc/tests/test_turbulence.py
  metpy/io/nexrad.py
  metpy/plots/ctables.py
  talks/2015 Unidata Users Workshop.ipynb
Labels: Type: Maintenance

#779 Add Exner Function
  metpy/calc/tests/test_thermo.py
  metpy/calc/thermo.py
Labels: Area: Calc, Type: Feature

#793 Improve logging in NEXRAD Level 3
  metpy/gridding/interpolation.py
  metpy/gridding/points.py
  metpy/io/_tools.py
  metpy/io/gini.py
  metpy/io/nexrad.py
  metpy/io/tests/test_nexrad.py
  metpy/plots/ctables.py
Labels: Area: IO, Type: Maintenance
