Repository Unidata/MetPy, pull requests merged in 2018-08, with the labels that each got.

#903 Add NARR Cross Section Example
  examples/cross_section.py
Labels: Area: Cross-sections, Area: Docs, Area: Xarray, Type: Enhancement

#899 Make derivative calculations work with xarray DataArrays
  docs/_templates/overrides/metpy.calc.rst
  metpy/calc/cross_sections.py
  metpy/calc/kinematics.py
  metpy/calc/tests/test_calc_tools.py
  metpy/calc/tests/test_kinematics.py
  metpy/calc/tools.py
  metpy/tests/test_xarray.py
  metpy/xarray.py
  tutorials/xarray_tutorial.py
Labels: Area: Calc, Area: Xarray, Type: API Change, Type: Enhancement

#908 Make handling units like 'degrees_north' a little nicer
  metpy/calc/tools.py
  metpy/tests/test_units.py
  metpy/units.py
  metpy/xarray.py
  tutorials/xarray_tutorial.py
Labels: Area: Units, Area: Xarray, Type: Enhancement

#910 Fix non-tuple NumPy indexing in MetPy
  metpy/calc/thermo.py
  metpy/calc/tools.py
  metpy/calc/turbulence.py
  metpy/cbook.py
  metpy/interpolate/one_dimension.py
Labels: Area: Calc, Area: Tests, Type: Maintenance

#917 Add link to SciPy 2018 talk
  docs/index.rst
Labels: Area: Docs, Type: Maintenance

#920 Respell doc page names for clarity
  docs/api/index.rst
  examples/README.txt
  tutorials/README.txt
Labels: Area: Docs, Type: Enhancement

#922 BUG: Increase default x clipping radius for SkewT
  metpy/plots/skewt.py
Labels: Area: Plots, Type: Bug

#923 Add unit tutorial
  tutorials/unit_tutorial.py
Labels: Area: Docs, Type: Feature

#924 Fix logging setup
  metpy/__init__.py
  metpy/interpolate/geometry.py
  metpy/interpolate/points.py
  metpy/io/_tools.py
  metpy/io/gini.py
  metpy/io/nexrad.py
  metpy/io/tests/test_nexrad.py
  metpy/plots/ctables.py
Labels: Area: DevTools, Type: Bug

#925 Add gpm unit as an alias to meters
  metpy/tests/test_units.py
  metpy/units.py
Labels: Area: Units, Type: Enhancement

#915 WIP: Use Pooch to download sample data
  .appveyor.yml
  .stickler.yml
  MANIFEST.in
  environment.yml
  metpy/cbook.py
  metpy/io/tests/test_nexrad.py
  metpy/static-data-manifest.txt
  metpy/testing.py
  setup.py
Labels: Area: DevTools, Type: Feature

#928 A Few Documentation Fixes
  docs/gempak.rst
  metpy/calc/kinematics.py
  metpy/interpolate/slices.py
  tutorials/xarray_tutorial.py
Labels: Area: Docs, Type: Maintenance

#929 Calculation fixes
  docs/_templates/overrides/metpy.calc.rst
  metpy/calc/kinematics.py
  metpy/calc/tests/test_kinematics.py
  metpy/calc/tests/test_thermo.py
  metpy/calc/thermo.py
Labels: Area: Calc, Type: Bug
