Repository Unidata/MetPy, pull requests merged in 2018-06, with the labels that each got.

#856 Update thermo.py
  metpy/calc/thermo.py
Labels: Area: Calc, Area: Docs, Type: Bug

#873 Drop python 3.4
  .travis.yml
  README.rst
  setup.py
Labels: Area: Infrastructure, Type: Maintenance

#869 Change x to coordinates in gradient and laplacian interface
  examples/calculations/Gradient.py
  metpy/calc/tests/test_tools.py
  metpy/calc/tools.py
Labels: Area: Calc, Type: API Change, Type: Maintenance

#875 Additional changes to drop python 3.4
  docs/index.rst
  setup.py
Labels: Area: Infrastructure, Type: Maintenance

#868 Update Wind Functions
  examples/Advanced_Sounding.py
  examples/gridding/Wind_SLP_Interpolation.py
  examples/plots/Hodograph_Inset.py
  examples/plots/Simple_Sounding.py
  examples/plots/Skew-T_Layout.py
  examples/plots/Station_Plot.py
  examples/plots/Station_Plot_with_Layout.py
  metpy/calc/basic.py
  metpy/calc/tests/test_basic.py
  metpy/calc/tests/test_kinematics.py
  metpy/testing.py
  tutorials/upperair_soundings.py
Labels: Area: Calc, Type: API Change

#876 Add conversions between omega and w
  metpy/calc/tests/test_thermo.py
  metpy/calc/thermo.py
Labels: Area: Calc, Type: Feature
