Repository Unidata/MetPy, pull requests merged in 2018-05, with the labels that each got.

#826 LFC above LCL
  metpy/calc/tests/test_thermo.py
  metpy/calc/thermo.py
Labels: Area: Calc, Type: Bug

#825 Pass parcel profile through cape_cin calculation
  metpy/calc/tests/test_thermo.py
  metpy/calc/thermo.py
Labels: Area: Calc, Type: Bug

#811 Removes grid size warning from generate_grid
  metpy/gridding/points.py
Labels: Area: Gridding, Type: Maintenance

#831 Hodograph units
  environment.yml
  metpy/plots/tests/test_skewt.py
  metpy/units.py
  setup.py
Labels: Area: Plots, Type: Bug

#838 Apparent temperature working with scalars
  metpy/calc/basic.py
  metpy/calc/tests/test_basic.py
Labels: Area: Calc, Type: Bug

#830 Add tests for gradient
  examples/calculations/Gradient.py
  metpy/calc/tests/test_tools.py
  metpy/calc/tools.py
Labels: Area: Docs, Area: Tests, Type: Bug

#840 Remove requirements text
  docs/infrastructureguide.rst
  docs/installguide.rst
Labels: Area: Docs, Type: Maintenance

#829 Update GINI Support
  .lgtm.yml
  environment.yml
  examples/formats/GINI_Water_Vapor.py
  metpy/io/__init__.py
  metpy/io/cdm.py
  metpy/io/gini.py
  metpy/io/tests/test_gini.py
  setup.py
  staticdata/Level3_Composite_dhr_1km_20180309_2225.gini
Labels: Area: IO, Type: API Change, Type: Enhancement, Type: Maintenance

#786 Xarray + CF + CartoPy Projection Handling
  .codeclimate.yml
  .codecov.yml
  .travis.yml
  examples/XArray_Projections.py
  examples/formats/GINI_Water_Vapor.py
  metpy/calc/kinematics.py
  metpy/cbook.py
  metpy/io/__init__.py
  metpy/io/gini.py
  metpy/io/tests/test_xarray.py
  metpy/io/xarray.py
  metpy/plots/mapping.py
  metpy/plots/tests/test_mapping.py
  metpy/tests/test_cbook.py
  setup.py
Labels: Area: Infrastructure, Area: Plots, Area: Projections, Type: Feature

#846 Isentropic updates
  README.rst
  metpy/calc/tests/test_thermo.py
  metpy/calc/tests/test_tools.py
  metpy/calc/thermo.py
  metpy/calc/tools.py
Labels: Area: Calc, Type: Enhancement, Type: Maintenance

#843 Added a function to calculate critical angle.
  docs/references.rst
  metpy/calc/indices.py
  metpy/calc/tests/test_indices.py
Labels: Area: Calc, Type: Feature

#847 Xarray Conversion Decorator
  examples/XArray_Projections.py
  metpy/__init__.py
  metpy/calc/basic.py
  metpy/calc/indices.py
  metpy/calc/kinematics.py
  metpy/calc/tests/test_thermo.py
  metpy/calc/thermo.py
  metpy/calc/tools.py
  metpy/calc/turbulence.py
  metpy/io/__init__.py
  metpy/tests/test_xarray.py
  metpy/xarray.py
Labels: Area: Calc, Area: Infrastructure, Type: Enhancement

#848 Clean up examples
  .travis.yml
  environment.yml
  examples/Four_Panel_Map.py
  examples/isentropic_example.py
  examples/sigma_to_pressure_interpolation.py
  metpy/calc/tests/test_tools.py
  metpy/calc/thermo.py
  metpy/calc/tools.py
  metpy/plots/_util.py
  metpy/tests/test_xarray.py
  metpy/xarray.py
  setup.py
Labels: Area: Examples, Type: Maintenance

#850 Optimize parse_angle
  metpy/calc/tools.py
Labels: Area: Calc, Type: Enhancement

#849 Fix mask propagation in gradient
  .circleci/config.yml
  .mailmap
  .travis.yml
  AUTHORS.txt
  metpy/calc/tests/test_tools.py
  metpy/tests/test_units.py
  metpy/units.py
  setup.py
Labels: Area: Calc, Type: Bug

#851 MNT: Fix some non-standard naming
  metpy/calc/tests/test_kinematics.py
  metpy/calc/tests/test_thermo.py
  metpy/calc/thermo.py
Labels: Type: Maintenance
