Repository Unidata/MetPy, pull requests merged in 2018-12, with the labels that each got.

#975 Fix interpolation tests for SciPy 1.2
  metpy/interpolate/tests/test_grid.py
  metpy/interpolate/tests/test_points.py
  metpy/static-data-manifest.txt
  staticdata/cubic_test.npz
Labels: Area: Gridding, Area: Tests, Type: Maintenance

#964 Skew-T adiabat reference pressure
  metpy/calc/tests/test_thermo.py
  metpy/calc/thermo.py
  metpy/plots/skewt.py
Labels: Area: Calc, Type: Enhancement

#978 relax pooch requirement to >=0.1
  environment.yml
  setup.py
Labels: Area: Infrastructure, Type: Maintenance

#986 Change axis-tracking attribute from axis to _metpy_axis
  metpy/calc/tools.py
  metpy/tests/test_xarray.py
  metpy/xarray.py
Labels: Area: Xarray, Type: Enhancement
