Repository Unidata/MetPy, pull requests merged in 2018-07, with the labels that each got.

#880 xarray Coordinate Identification Cleanup
  metpy/tests/test_xarray.py
  metpy/xarray.py
Labels: Area: xarray, Type: Maintenance

#881 Expose cartopy globe in CFProjection and xarray accessor
  metpy/plots/mapping.py
  metpy/tests/test_xarray.py
  metpy/xarray.py
  tutorials/xarray_tutorial.py
Labels: Area: Projections, Area: Xarray, Type: Enhancement

#892 "Improve this page" links for examples and tutorials
  docs/_templates/breadcrumbs.html
  docs/conf.py
Labels: Area: Docs, Type: Enhancement

#882 Cleanup kinematics calculations and permit leading dimensions
  metpy/calc/kinematics.py
  metpy/calc/tests/test_calc_tools.py
  metpy/calc/tests/test_kinematics.py
  metpy/calc/tools.py
  setup.py
Labels: Area: Calc, Area: Tests, Type: API Change, Type: Maintenance

#891 Update nexrad
  metpy/io/nexrad.py
Labels: Area: IO, Type: Bug

#889 WIP: Reorganization of calc docs (with module template override option)
  .appveyor.yml
  .travis.yml
  docs/Makefile
  docs/_templates/autosummary/module.rst
  docs/_templates/overrides/metpy.calc.rst
  docs/conf.py
  docs/make.bat
  docs/override_check.py
Labels: Area: Docs, Type: Enhancement

#898 Remove removed functions from doc page override
  docs/_templates/overrides/metpy.calc.rst
  docs/installguide.rst
  docs/override_check.py
Labels: Area: Docs, Type: Bug

#879 Add cross section function and supporting calculations
  .travis.yml
  docs/_templates/overrides/metpy.calc.rst
  docs/gempak.rst
  docs/references.rst
  metpy/calc/__init__.py
  metpy/calc/cross_sections.py
  metpy/calc/tests/test_cross_sections.py
  metpy/interpolate/__init__.py
  metpy/interpolate/slices.py
  metpy/interpolate/tests/test_slices.py
  metpy/testing.py
  metpy/tests/test_xarray.py
  metpy/xarray.py
  setup.py
Labels: Area: Cross-sections, Type: Feature

#901 Update docstring for vorticity
  metpy/calc/kinematics.py
Labels: Area: Docs, Type: Bug
