Repository Unidata/MetPy, pull requests merged in 2019-12, with the labels that each got.

#1244 Update some function signatures
  setup.cfg
  src/metpy/calc/indices.py
  src/metpy/calc/kinematics.py
  src/metpy/future.py
  src/metpy/testing.py
  src/metpy/units.py
  tests/calc/test_indices.py
  tests/calc/test_kinematics.py
Labels: Area: Calc, Type: Enhancement

#1251 NEXRAD Updates
  .appveyor.yml
  docs/Makefile
  docs/conf.py
  docs/infrastructureguide.rst
  setup.cfg
  src/metpy/io/nexrad.py
  src/metpy/static-data-manifest.txt
  staticdata/TDAL20191021021543V08.raw.gz
  tests/io/test_nexrad.py
Labels: Area: IO, Type: Enhancement, Type: Maintenance

#1241 Adds a declarative syntax for point observations
  examples/plots/surface_declarative.py
  examples/plots/upperair_declarative.py
  src/metpy/plots/declarative.py
  src/metpy/static-data-manifest.txt
  staticdata/SFC_obs.csv
  staticdata/UPA_obs.csv
  tests/plots/baseline/test_declarative_sfc_obs.png
  tests/plots/baseline/test_declarative_sfc_obs_changes.png
  tests/plots/baseline/test_declarative_sfc_obs_full.png
  tests/plots/baseline/test_declarative_upa_obs.png
  tests/plots/test_declarative.py
Labels: Area: Plots, Type: Feature

#1238 Adds function to get numeric wx code
  src/metpy/plots/wx_symbols.py
  tests/plots/test_wx_symbols.py
Labels: Area: Plots, Type: Feature

#1250 Further updates to pint master branch compatibility
  src/metpy/calc/thermo.py
  src/metpy/calc/tools.py
  tests/calc/test_thermo.py
Labels: Area: Calc, Type: Maintenance

#1253 Fix smoothing unit-handling
  src/metpy/calc/basic.py
  src/metpy/testing.py
  tests/calc/test_basic.py
  tests/test_testing.py
Labels: Area: Calc, Area: Tests, Type: Bug

#1254 Plotting fixes
  .travis.yml
  setup.cfg
  src/metpy/plots/declarative.py
  src/metpy/plots/station_plot.py
Labels: Area: Plots, Type: Bug, Type: Maintenance

#1145 Add mixed-layer CAPE
  docs/_templates/overrides/metpy.calc.rst
  src/metpy/calc/thermo.py
  tests/calc/test_thermo.py
Labels: Area: Calc, Type: Feature

#1255 Fix interpolation average spacing
  examples/gridding/Inverse_Distance_Verification.py
  examples/gridding/Point_Interpolation.py
  src/metpy/interpolate/points.py
  src/metpy/interpolate/tools.py
  src/metpy/static-data-manifest.txt
  staticdata/barnes_test.npz
  tests/interpolate/test_interpolate_tools.py
  tests/interpolate/test_points.py
Labels: Area: Gridding, Type: Bug

#1257 add exception catch
  src/metpy/io/metar.py
  tests/io/test_metar.py
Labels: Area: IO, Type: Bug

#1261 Still further updates to pint master branch compatibility
  conftest.py
  src/metpy/__init__.py
  src/metpy/calc/basic.py
  src/metpy/calc/thermo.py
  src/metpy/calc/tools.py
  src/metpy/units.py
Labels: Area: Units, Type: Maintenance

#1259 Update PlotObs for time and station dimension naming
  src/metpy/plots/declarative.py
  tests/plots/test_declarative.py
Labels: Area: Plots, Type: Enhancement

#1262 fix docs
  src/metpy/plots/declarative.py
Labels: Area: Docs, Type: Bug
