Repository Unidata/MetPy, pull requests merged in 2019-09, with the labels that each got.

#1143 Allow lists of variable names in parse_cf
  metpy/tests/test_xarray.py
  metpy/xarray.py
  tutorials/xarray_tutorial.py
Labels: Area: Xarray, Type: Enhancement

#1140 Docstring updates and increased use of check_units
  examples/Advanced_Sounding.py
  examples/plots/Hodograph_Inset.py
  examples/plots/Simple_Sounding.py
  examples/plots/Skew-T_Layout.py
  metpy/calc/basic.py
  metpy/calc/indices.py
  metpy/calc/kinematics.py
  metpy/calc/tests/test_basic.py
  metpy/calc/thermo.py
  metpy/future.py
  tutorials/upperair_soundings.py
Labels: Area: Docs, Area: Examples, Type: Maintenance

#1142 Refactor xarray axis search to resolve dataset shared coordinate issue
  metpy/tests/test_xarray.py
  metpy/xarray.py
Labels: Area: Xarray, Type: Bug

#1157 Update citation information (Fixes #1154)
  docs/citing.rst
  docs/conf.py
Labels: Area: Docs, Type: Maintenance

#1161 Update standard atmosphere reference to U.S. 1976
  docs/references.rst
  metpy/calc/basic.py
  metpy/calc/tools.py
Labels: Area: Docs, Type: Enhancement

#1144 Updates to pint/xarray master branch (and xarray v0.13) compatability
  .travis.yml
  examples/cross_section.py
  metpy/calc/basic.py
  metpy/calc/indices.py
  metpy/calc/kinematics.py
  metpy/calc/tests/test_basic.py
  metpy/calc/tests/test_calc_tools.py
  metpy/calc/tests/test_kinematics.py
  metpy/calc/tests/test_thermo.py
  metpy/calc/thermo.py
  metpy/calc/tools.py
  metpy/cbook.py
  metpy/plots/skewt.py
  metpy/tests/test_cbook.py
  metpy/tests/test_xarray.py
  metpy/units.py
  metpy/xarray.py
  tutorials/xarray_tutorial.py
Labels: Area: Tests, Area: Units, Area: Xarray, Type: Enhancement

#1160 Switch versioning to setuptools_scm from versioneer
  .appveyor.yml
  .circleci/config.yml
  .codeclimate.yml
  .coveragerc
  .gitattributes
  .gitignore
  .landscape.yml
  .lgtm.yml
  .stickler.yml
  .travis.yml
  MANIFEST.in
  docs/infrastructureguide.rst
  environment.yml
  metpy/__init__.py
  metpy/_version.py
  pyproject.toml
  setup.cfg
  setup.py
  versioneer.py
Labels: Area: Infrastructure, Type: Maintenance

#1175 Add xarray module to Reference Guide
  docs/_templates/autosummary/module.rst
  docs/_templates/overrides/metpy.xarray.rst
  docs/api/index.rst
  docs/override_check.py
  metpy/xarray.py
  setup.cfg
Labels: Area: Docs, Area: Xarray, Type: Enhancement

#1162 Add handles to SkewT special lines
  metpy/plots/skewt.py
  metpy/plots/tests/test_skewt.py
Labels: Area: Plots, Type: Bug

#1172 Return input temperature units for LCL/LFC/EL temperature, disallow LFC if EL below LCL
  metpy/calc/tests/test_thermo.py
  metpy/calc/thermo.py
Labels: Area: Calc, Type: Bug

#1179 Update PyPI upload
  .travis.yml
Labels: Area: Infrastructure, Type: Enhancement

#1151 Add Mesonet StationPlot example
  examples/plots/Mesonet_Stationplot.py
  metpy/cbook.py
  metpy/static-data-manifest.txt
  staticdata/mesonet_sample.txt
Labels: Area: Examples, Type: Enhancement

#1158 Add a Starting Guide to the docs
  docs/SUPPORT.md
  docs/index.rst
  docs/startingguide.rst
Labels: Area: Docs, Type: Feature

#1178 Deprecate the viridis colortable
  docs/_templates/autosummary/module.rst
  docs/_templates/overrides/metpy.plots.ctables.rst
  examples/formats/NEXRAD_Level_2_File.py
  metpy/plots/ctables.py
  metpy/plots/tests/test_ctables.py
Labels: Area: Plots, Type: API Change, Type: Maintenance

#1152 Update `parse_angle` to allow any array-like object
  metpy/calc/tests/test_calc_tools.py
  metpy/calc/tools.py
Labels: Area: Calc, Type: Bug

#1180 SkewT Updates
  metpy/calc/kinematics.py
  metpy/plots/skewt.py
  metpy/plots/tests/baseline/test_skewt_arbitrary_rect.png
  metpy/plots/tests/baseline/test_skewt_barb_color.png
  metpy/plots/tests/baseline/test_skewt_barb_no_default_unit_conversion.png
  metpy/plots/tests/baseline/test_skewt_barb_unit_conversion.png
  metpy/plots/tests/baseline/test_skewt_default_aspect_empty.png
  metpy/plots/tests/baseline/test_skewt_gridspec.png
  metpy/plots/tests/baseline/test_skewt_subplot.png
  metpy/plots/tests/baseline/test_skewt_tight_bbox.png
  metpy/plots/tests/baseline/test_skewt_units.png
  metpy/plots/tests/test_skewt.py
Labels: Area: Plots, Type: Enhancement

#853 Add angle_to_dir to convert angles to nearest direction
  docs/_templates/overrides/metpy.calc.rst
  examples/calculations/Angle_to_Direction.py
  metpy/calc/tests/test_calc_tools.py
  metpy/calc/tools.py
Labels: Area: Calc, Type: Feature

#1149 Add zorder for SkewT barbs and SkewT units image test
  .travis.yml
  docs/installguide.rst
  metpy/plots/_mpl.py
  metpy/plots/skewt.py
  metpy/plots/tests/baseline/test_skewt_api.png
  metpy/plots/tests/baseline/test_skewt_api_units.png
  metpy/plots/tests/baseline/test_skewt_barb_color.png
  metpy/plots/tests/baseline/test_skewt_barb_no_default_unit_conversion.png
  metpy/plots/tests/baseline/test_skewt_barb_unit_conversion.png
  metpy/plots/tests/test_skewt.py
  setup.cfg
Labels: Area: Plots, Type: Enhancement

#1181 Rearrange CartoPy Imports
  metpy/plots/__init__.py
  metpy/plots/cartopy_utils.py
  metpy/plots/declarative.py
Labels: Area: Plots, Type: Bug
