Repository Unidata/MetPy, pull requests merged in 2019-10, with the labels that each got.

#1191 MNT: Change wheel directory on Travis
  .travis.yml
Labels: Area: Infrastructure, Type: Bug

#1189 Add link to Python Gallery in sidebar
  docs/index.rst
Labels: Area: Docs, Area: Examples, Type: Enhancement

#1192 Fix precision issue with interpolation in profile helper
  src/metpy/calc/thermo.py
  tests/calc/test_thermo.py
Labels: Area: Calc, Type: Bug

#1194 Add NSF acknowledgement
  docs/_static/NSF.jpg
  docs/conf.py
  docs/index.rst
Labels: Area: Docs, Type: Enhancement

#1197 fix divergence unit requirement
  src/metpy/calc/kinematics.py
Labels: Area: Calc, Type: Bug

#1200 Add support for grids when surface is LCL
  src/metpy/calc/thermo.py
  tests/calc/test_thermo.py
Labels: Area: Calc, Type: Bug

#1188 Allow PW calculation when NaNs present
  src/metpy/calc/indices.py
  src/metpy/calc/thermo.py
  src/metpy/calc/tools.py
  tests/calc/test_calc_tools.py
  tests/calc/test_indices.py
  tests/calc/test_thermo.py
Labels: Area: Calc, Type: Bug

#1206 Quick fix for test_narr_example_variable_without_grid_mapping test (broken by xarray v0.14)
  src/metpy/xarray.py
Labels: Area: Xarray, Type: Bug

#1204 Fix GiniFile import of xarray FrozenDict
  src/metpy/io/gini.py
Labels: Area: IO, Type: Bug

#1210 avoid pint trouble with np.asarray
  src/metpy/calc/basic.py
Labels: Area: Calc, Type: Bug

#1213 avoid potential circular ref by lazy import
  src/metpy/calc/tools.py
Labels: Area: Calc, Type: Maintenance

#1208 Deprecate dewpoint_rh in favor of dewpoint_from_relative_humidity
  docs/_templates/overrides/metpy.calc.rst
  src/metpy/calc/thermo.py
  tests/calc/test_thermo.py
Labels: Area: Calc, Type: API Change

#1195 Removal of deprecations for 0.12
  docs/_templates/overrides/metpy.calc.rst
  docs/api/index.rst
  src/metpy/calc/basic.py
  src/metpy/calc/tools.py
  src/metpy/gridding.py
  src/metpy/interpolate/grid.py
  tests/calc/test_basic.py
  tests/calc/test_calc_tools.py
  tests/interpolate/test_grid.py
  tests/test_gridding.py
Labels: Area: Calc, Area: Gridding, Type: Maintenance

#1163 Drop support for Python 2.7!
  .appveyor.yml
  .travis.yml
  CONTRIBUTING.md
  README.md
  docs/citing.rst
  docs/conf.py
  docs/index.rst
  docs/installguide.rst
  docs/roadmap.rst
  examples/gridding/Inverse_Distance_Verification.py
  setup.cfg
  setup.py
  src/metpy/__init__.py
  src/metpy/calc/basic.py
  src/metpy/calc/indices.py
  src/metpy/calc/kinematics.py
  src/metpy/calc/thermo.py
  src/metpy/calc/tools.py
  src/metpy/cbook.py
  src/metpy/interpolate/geometry.py
  src/metpy/interpolate/grid.py
  src/metpy/interpolate/one_dimension.py
  src/metpy/interpolate/points.py
  src/metpy/interpolate/tools.py
  src/metpy/io/_tools.py
  src/metpy/io/gini.py
  src/metpy/io/nexrad.py
  src/metpy/package_tools.py
  src/metpy/pandas.py
  src/metpy/plots/_mpl.py
  src/metpy/plots/cartopy_utils.py
  src/metpy/plots/ctables.py
  src/metpy/plots/declarative.py
  src/metpy/plots/skewt.py
  src/metpy/plots/station_plot.py
  src/metpy/plots/wx_symbols.py
  src/metpy/testing.py
  src/metpy/units.py
  src/metpy/xarray.py
  tests/calc/test_calc_tools.py
  tests/calc/test_kinematics.py
  tests/interpolate/test_geometry.py
  tests/interpolate/test_grid.py
  tests/interpolate/test_interpolate_tools.py
  tests/interpolate/test_points.py
  tests/plots/test_skewt.py
  tests/plots/test_wx_symbols.py
  tools/nexrad_msgs/parse_spec.py
Labels: Area: Infrastructure, Type: Maintenance

#1217 Update xarray time derivative for subsecond precision
  src/metpy/calc/tools.py
  src/metpy/xarray.py
  tests/calc/test_calc_tools.py
  tests/test_xarray.py
Labels: Area: Xarray, Type: API Change, Type: Enhancement

#1224 Update test coverage services
  .travis.yml
Labels: Area: Infrastructure, Type: Maintenance
