Repository Unidata/MetPy, pull requests merged in 2019-06, with the labels that each got.

#1053 Fix Scipy 1.3 not-C-contiguous error
  metpy/interpolate/grid.py
  metpy/interpolate/tests/test_grid.py
  metpy/interpolate/tests/test_points.py
  metpy/static-data-manifest.txt
  staticdata/interpolation_test_points.npz
Labels: Area: Gridding, Type: Maintenance

#1045 migrate mpl.cbook.iterable to numpy.iterable
  metpy/cbook.py
Labels: Type: Maintenance

#1057 Units: convert '%' to 'percent' for within the xarray MetPy accessor
  metpy/tests/test_xarray.py
  metpy/xarray.py
Labels: Area: Xarray, Type: Enhancement

#1052 Documentation update for pressure in profile calculations
  AUTHORS.txt
  metpy/calc/thermo.py
Labels: Area: Docs, Type: Enhancement

#1054 Updated deprecated function in matplotlib 3.1
  metpy/plots/_mpl.py
Labels: Area: Plots, Type: Maintenance

#1055 Prevent an EL below a LCL
  metpy/calc/tests/test_thermo.py
  metpy/calc/thermo.py
Labels: Area: Calc, Type: Bug

#1046 first pass at better docs for declarative
  metpy/plots/declarative.py
Labels: Area: Docs, Type: Enhancement

#1058 xarray Coordinate Identification Refactor
  metpy/calc/cross_sections.py
  metpy/calc/tests/test_calc_tools.py
  metpy/calc/tools.py
  metpy/interpolate/slices.py
  metpy/interpolate/tests/test_slices.py
  metpy/tests/test_xarray.py
  metpy/xarray.py
  tutorials/xarray_tutorial.py
Labels: Area: Xarray, Type: Enhancement

#1061 Interpolate_to_grid doc update
  metpy/interpolate/grid.py
Labels: Area: Docs, Type: Enhancement

#1063 Remove components due for removal in 0.11
  .circleci/config.yml
  .travis.yml
  README.rst
  docs/_templates/overrides/metpy.calc.rst
  docs/api/index.rst
  metpy/calc/tests/test_calc_tools.py
  metpy/calc/tools.py
  metpy/io/_tools.py
  metpy/io/cdm.py
  metpy/io/gini.py
  metpy/io/tests/test_cdm.py
  metpy/io/tests/test_gini.py
  metpy/io/tests/test_io_tools.py
  setup.py
Labels: Type: API Change, Type: Maintenance

#1065 Xarray: Add warning if lat/lon is assumed for projection
  metpy/xarray.py
Labels: Area: Xarray, Type: Enhancement

#1066 Fix docstring for vertical velocity functions to render equations
  metpy/calc/thermo.py
Labels: Area: Calc, Area: Docs, Type: Bug

#1059 Provide identification of multiple LFCs and ELs
  metpy/calc/tests/test_thermo.py
  metpy/calc/thermo.py
Labels: Area: Calc, Type: Enhancement
