Repository Unidata/MetPy, pull requests merged in 2019-11, with the labels that each got.

#1227 Add example to PW docstring
  src/metpy/calc/indices.py
Labels: Area: Calc, Area: Docs, Type: Enhancement

#1148 Add arrows to StationPlot
  src/metpy/plots/station_plot.py
  tests/plots/baseline/test_arrow_projection.png
  tests/plots/baseline/test_arrow_unit_conversion.png
  tests/plots/test_station_plot.py
Labels: Area: Plots, Type: Enhancement

#1231 Updates
  .github/CODEOWNERS
  README.md
Labels: Area: Infrastructure, Type: Maintenance

#1233 Refactor _reassign_quantity_indexer to avoid modifying dict keys while iterating
  src/metpy/xarray.py
Labels: Area: Xarray, Type: Bug

#1236 Modify xarray coordinate identification from CF axis to generic labels, permitting latitude/longitude identification
  src/metpy/calc/cross_sections.py
  src/metpy/calc/tools.py
  src/metpy/interpolate/slices.py
  src/metpy/xarray.py
  tests/test_xarray.py
  tutorials/xarray_tutorial.py
Labels: Area: Xarray, Type: Bug

#1212 Add support for Python 3.8
  .appveyor.yml
  .travis.yml
  CONTRIBUTING.md
  docs/conf.py
  docs/infrastructureguide.rst
  setup.cfg
Labels: Area: Infrastructure, Type: Maintenance

#1242 Fixes for pre-releases
  .appveyor.yml
  .travis.yml
  examples/gridding/Find_Natural_Neighbors_Verification.py
  examples/gridding/Natural_Neighbor_Verification.py
  src/metpy/interpolate/geometry.py
  src/metpy/interpolate/points.py
  tests/interpolate/test_geometry.py
  tests/plots/test_declarative.py
  tests/plots/test_skewt.py
  tests/plots/test_station_plot.py
  tests/plots/test_util.py
Labels: Area: Tests, Type: Maintenance

#1138 Add 'wide' and 'most_cape' options for LFC/EL, options for CAPE
  src/metpy/calc/basic.py
  src/metpy/calc/thermo.py
  tests/calc/test_basic.py
  tests/calc/test_thermo.py
Labels: Area: Calc, Type: Enhancement
