Repository Unidata/MetPy, pull requests merged in 2019-04, with the labels that each got.

#1024 MNT: Update doc8 configuration
  .travis.yml
  CONTRIBUTING.md
  docs/index.rst
  docs/installguide.rst
  docs/units.rst
  setup.cfg
Labels: Area: Docs, Type: Maintenance

#1019 Fix RST style links in the Contributing Guide
  CONTRIBUTING.md
Labels: Area: Docs, Type: Bug

#1020 Fix LFC calculation when positive area exists below LCL
  metpy/calc/tests/test_thermo.py
  metpy/calc/thermo.py
Labels: Area: Calc, Type: Bug

#1022 Fix crash with mixed-layer LFC calculation
  metpy/calc/tests/test_thermo.py
  metpy/calc/thermo.py
Labels: Area: Calc, Type: Bug

#1023 Fix poor assumptions in lfc() logic
  metpy/calc/tests/test_thermo.py
  metpy/calc/thermo.py
Labels: Area: Calc, Type: Bug
