Repository Unidata/MetPy, pull requests merged in 2019-07, with the labels that each got.

#1078 Conditional import of the DatetimeAccessor due to xarray update
  metpy/xarray.py
Labels: Area: Xarray, Type: Maintenance

#1080 DOC: Clarify x-axis variables in cross section example
  examples/cross_section.py
Labels: Area: Examples, Type: Enhancement

#1082 BUG: Fixup geopotential<->height calculation (Fixes #1075)
  metpy/calc/basic.py
  metpy/calc/tests/test_basic.py
Labels: Area: Calc, Type: Bug

#1079 Vendor internal imports from xarray.core in xarray.py
  metpy/_vendor/__init__.py
  metpy/_vendor/xarray.py
  metpy/tests/test_xarray.py
  metpy/xarray.py
Labels: Area: Xarray, Type: Maintenance

#1076 Add formulas to geopotential functions in docs and correct reference
  metpy/calc/basic.py
Labels: Area: Docs, Type: Bug, Type: Enhancement

#1085 Matplotlib 3.1 fixes
  metpy/plots/skewt.py
  metpy/plots/tests/test_skewt.py
  setup.py
Labels: Area: Plots, Type: Maintenance

#1084 MNT: Contributors, license, code owners
  .github/CODEOWNERS
  .mailmap
  .travis.yml
  AUTHORS.txt
  LICENSE
Labels: Area: Infrastructure, Type: Maintenance

#1031 allow any pooch >= 0.1 to be used
  docs/installguide.rst
  environment.yml
  setup.py
Labels: Type: Maintenance

#1087 Fix pint 0.9 errors from units.wraps and iterable
  environment.yml
  metpy/cbook.py
  metpy/interpolate/one_dimension.py
  metpy/tests/test_units.py
  metpy/units.py
  setup.py
Labels: Area: Units, Type: Maintenance

#1088 MNT: suppress pytest-mpl warning for unregistered marker
  setup.cfg
Labels: Area: Tests, Type: Maintenance

#1095 allow mask_undefined control on apparent_temperature calc
  metpy/calc/basic.py
Labels: Area: Calc, Type: Enhancement

#1091 Force x and y to be np.arrays within StationPlot
  metpy/plots/station_plot.py
  metpy/plots/tests/test_station_plot.py
Labels: Area: Plots, Type: Bug

#1100 add pycodestyle settings to setup.cfg
  setup.cfg
Labels: Area: Infrastructure, Type: Enhancement

#1103 More links to Python Gallery
  README.rst
  docs/index.rst
  docs/installguide.rst
  examples/README.txt
Labels: Area: Docs, Type: Enhancement

#1102 Drop central_longitude from mercator projection
  metpy/plots/mapping.py
  metpy/plots/tests/test_mapping.py
Labels: Area: Projections, Type: Enhancement

#1098 modify heat_index to replicate NWS algorithm
  .appveyor.yml
  .travis.yml
  docs/references.rst
  metpy/calc/basic.py
  metpy/calc/tests/test_basic.py
Labels: Area: Calc, Type: Enhancement

#1105 Tweak docs
  .travis.yml
  docs/_templates/layout.html
  docs/conf.py
  docs/index.rst
  docs/installguide.rst
  setup.py
Labels: Area: Docs, Type: Maintenance

#1062 Calculate intersections with log-p interpolation (LFC, EL, CAPE/CIN)
  metpy/calc/tests/test_calc_tools.py
  metpy/calc/tests/test_thermo.py
  metpy/calc/thermo.py
  metpy/calc/tools.py
Labels: Area: Calc, Type: Bug

#1099 correct mask_undefined apparent_temperature logic
  metpy/calc/basic.py
  metpy/calc/tests/test_basic.py
Labels: Area: Calc, Type: Bug

#1109 Include LCL in MUCIN calculations if parcel starts below LCL
  metpy/calc/tests/test_thermo.py
  metpy/calc/thermo.py
Labels: Area: Calc, Type: Bug

#1116 Wrap check_axis unit checking to not fail on bad unit
  metpy/tests/test_xarray.py
  metpy/xarray.py
Labels: Area: Units, Area: Xarray, Type: Enhancement
