Repository Unidata/MetPy, pull requests merged in 2019-08, with the labels that each got.

#1123 Update GitHub issue/PR templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
Labels: Area: Infrastructure, Type: Enhancement

#1106 Updates for testing
  .codecov.yml
  metpy/calc/tests/test_basic.py
  metpy/calc/tests/test_calc_tools.py
  metpy/calc/tests/test_thermo.py
  metpy/calc/thermo.py
  metpy/interpolate/geometry.py
  metpy/interpolate/one_dimension.py
  metpy/interpolate/tests/test_geometry.py
  metpy/testing.py
  metpy/tests/test_units.py
Labels: Area: Infrastructure, Area: Tests, Type: Enhancement

#1126 Deprecate `tmpk_out` in favor of `temperature_out`
  metpy/calc/tests/test_thermo.py
  metpy/calc/thermo.py
Labels: Area: Calc, Type: API Change, Type: Maintenance

#1125 Rework SkewT tranform
  metpy/plots/skewt.py
  metpy/plots/tests/baseline/test_skewt_api.png
  metpy/plots/tests/baseline/test_skewt_arbitrary_rect.png
  metpy/plots/tests/baseline/test_skewt_barb_color.png
  metpy/plots/tests/baseline/test_skewt_barb_no_default_unit_conversion.png
  metpy/plots/tests/baseline/test_skewt_barb_unit_conversion.png
  metpy/plots/tests/baseline/test_skewt_gridspec.png
  metpy/plots/tests/baseline/test_skewt_shade_area.png
  metpy/plots/tests/baseline/test_skewt_shade_area_kwargs.png
  metpy/plots/tests/baseline/test_skewt_shade_cape_cin.png
  metpy/plots/tests/baseline/test_skewt_subplot.png
  metpy/plots/tests/baseline/test_skewt_wide_aspect_ratio.png
  metpy/plots/tests/test_skewt.py
Labels: Area: Plots, Type: Bug

#1118 plot_colormapped update for Hodograph
  examples/plots/Hodograph_Inset.py
  metpy/plots/skewt.py
  metpy/plots/tests/test_skewt.py
Labels: Area: Plots, Type: Enhancement

#1131 Unindent section titles in metpy.calc docs to prevent sphinx from failing
  docs/_templates/overrides/metpy.calc.rst
Labels: Area: Docs, Type: Bug

#1128 Add FutureWarning to ageostrophic_wind for variable reorder
  metpy/calc/kinematics.py
  metpy/calc/tests/test_kinematics.py
  metpy/future.py
Labels: Area: Calc, Type: API Change, Type: Maintenance

#1129 Enable flake8-rst-docstring plugin
  .travis.yml
  docs/conf.py
  environment.yml
  metpy/calc/indices.py
  metpy/calc/thermo.py
  metpy/calc/tools.py
  metpy/deprecation.py
  metpy/testing.py
  metpy/units.py
  setup.cfg
  setup.py
Labels: Area: Infrastructure, Type: Enhancement

#1133 Add convention to wind_direction
  metpy/calc/basic.py
  metpy/calc/tests/test_basic.py
Labels: Area: Calc, Type: Enhancement

#1130 Handle Pandas time indices within StationPlots
  metpy/plots/_mpl.py
  metpy/plots/tests/baseline/test_symbol_pandas_timeseries.png
  metpy/plots/tests/test_station_plot.py
Labels: Area: Plots, Type: Bug

#1034 Pandas support for interpolate grid
  metpy/interpolate/grid.py
  metpy/interpolate/tests/test_interpolate_tools.py
  metpy/pandas.py
Labels: Area: Calc, Type: Bug

#1141 Add Pandas dependency
  .travis.yml
  README.rst
  conftest.py
  docs/installguide.rst
  setup.py
Labels: Area: Infrastructure, Type: Maintenance
