Repository Unidata/MetPy, pull requests merged in 2020-10, with the labels that each got.

#1520 Cleanup cbook
  src/metpy/calc/kinematics.py
  src/metpy/calc/tools.py
  src/metpy/cbook.py
  src/metpy/xarray.py
  tests/test_cbook.py
Labels: Type: Maintenance

#1391 MNT: Docs update GEMPAK conversion
  docs/gempak.rst
Labels: Area: Docs, Type: Enhancement

#1523 Update metar.py default year, month to keyword-only and None
  src/metpy/io/metar.py
  tests/io/test_metar.py
Labels: Area: IO, Type: Bug

#1521 Make grid args for divergence and vorticity keyword-only
  src/metpy/calc/kinematics.py
  tests/calc/test_kinematics.py
Labels: Area: Calc, Type: API Change

#1524 Fixing handling of level in PlotObs
  src/metpy/plots/declarative.py
  tests/plots/test_declarative.py
Labels: Area: Plots, Type: Bug

#1527 Update target for v1 since it didn't happen in 2019...
  docs/roadmap.rst
Labels: Area: Docs, Type: Maintenance

#1526 Update copyright year to include 2020
  LICENSE
  docs/conf.py
Labels: Type: Maintenance

#1483 Use PyProj instead of Cartopy for internal coordinate transforms and rename crs coordinate
  .github/workflows/docs.yml
  .github/workflows/linting.yml
  .github/workflows/tests-conda.yml
  .github/workflows/tests-pypi.yml
  .travis.yml
  ci/Current.txt
  ci/Minimum
  ci/Prerelease
  ci/extra_requirements.txt
  conftest.py
  docs/installguide.rst
  setup.cfg
  src/metpy/calc/cross_sections.py
  src/metpy/calc/tools.py
  src/metpy/interpolate/slices.py
  src/metpy/plots/mapping.py
  src/metpy/testing.py
  src/metpy/xarray.py
  tests/calc/test_calc_tools.py
  tests/calc/test_cross_sections.py
  tests/calc/test_kinematics.py
  tests/interpolate/test_slices.py
  tests/io/test_gini.py
  tests/plots/test_declarative.py
  tests/test_xarray.py
  tutorials/xarray_tutorial.py
Labels: Area: Calc, Area: Cross-sections, Area: Projections, Area: Xarray, Type: API Change, Type: Maintenance
