Repository Unidata/MetPy, pull requests merged in 2020-11, with the labels that each got.

#1554 MNT: Refactor montgomery_streamfunction
  src/metpy/calc/kinematics.py
  src/metpy/calc/thermo.py
Labels: Area: Calc, Type: Maintenance, hacktoberfest-accepted

#1568 replace data with ds
  docs/startingguide.rst
Labels: Area: Docs, Type: Bug

#1573 Python 3.9 support
  .github/workflows/docs-conda.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .github/workflows/tests-conda.yml
  .github/workflows/tests-pypi.yml
  ci/Current.txt
  setup.cfg
  src/metpy/plots/skewt.py
Labels: Area: Infrastructure, Type: Maintenance

#1575 Fix xarray support in advection
  src/metpy/calc/kinematics.py
  src/metpy/xarray.py
  tests/calc/test_kinematics.py
Labels: Area: Calc, Area: Xarray, Type: Bug

#1576 Fix PlotObs with units + formatter
  src/metpy/plots/declarative.py
  src/metpy/plots/station_plot.py
  tests/plots/baseline/test_plotobs_units_with_formatter.png
  tests/plots/test_declarative.py
Labels: Area: Plots, Type: Bug

#1577 Make CartoPy import more robust
  src/metpy/plots/cartopy_utils.py
Labels: Area: Infrastructure, Area: Plots, Type: Bug

#1578 BUG: Fix for xarray master
  src/metpy/xarray.py
  tests/test_xarray.py
Labels: Area: Xarray, Type: Bug

#1579 Fixes and improvements for wet_bulb_temperature
  src/metpy/calc/thermo.py
  tests/calc/test_thermo.py
Labels: Area: Calc, Type: Bug, Type: Enhancement

#1580 Fix get_layer for float32 data again
  src/metpy/calc/indices.py
  src/metpy/calc/thermo.py
  src/metpy/calc/tools.py
  tests/calc/test_calc_tools.py
Labels: Area: Calc, Type: Bug

#1585 Windows development fixes
  .gitattributes
  src/metpy/_version.py
Labels: Area: Infrastructure, Type: Bug

#1569 declarative tutorial
  tutorials/declarative_tutorial.py
Labels: Area: Docs, Area: Plots, Type: Feature
