Repository Unidata/MetPy, pull requests merged in 2020-09, with the labels that each got.

#1510 Remove uses of pkg_resources
  ci/Current.txt
  ci/Minimum
  pyproject.toml
  setup.cfg
  src/metpy/_version.py
  src/metpy/cbook.py
  src/metpy/plots/_util.py
  src/metpy/plots/ctables.py
  src/metpy/plots/mapping.py
  src/metpy/plots/skewt.py
  src/metpy/plots/wx_symbols.py
  src/metpy/testing.py
  src/metpy/units.py
Labels: Type: Maintenance

#1490 Improved xarray compatibility on function input and output
  conftest.py
  docs/_templates/overrides/metpy.calc.rst
  docs/_templates/overrides/metpy.xarray.rst
  examples/cross_section.py
  examples/isentropic_example.py
  src/metpy/calc/basic.py
  src/metpy/calc/indices.py
  src/metpy/calc/kinematics.py
  src/metpy/calc/thermo.py
  src/metpy/calc/tools.py
  src/metpy/calc/turbulence.py
  src/metpy/interpolate/one_dimension.py
  src/metpy/units.py
  src/metpy/xarray.py
  tests/calc/test_calc_tools.py
  tests/calc/test_kinematics.py
  tests/calc/test_thermo.py
  tests/test_xarray.py
  tutorials/xarray_tutorial.py
Labels: Area: Calc, Area: Xarray, Type: API Change, Type: Enhancement, Type: Feature

#1516 BUG: Fix passing masked arrays to CAPE/CIN calcs
  src/metpy/calc/thermo.py
  tests/calc/test_thermo.py
Labels: Area: Calc, Type: Bug

#1517 Fix test coverage reporting
  .codecov.yml
  .coveragerc
  .github/workflows/tests-conda.yml
  .github/workflows/tests-pypi.yml
  .travis.yml
  ci/test_requirements.txt
  setup.cfg
  src/metpy/io/gini.py
Labels: Area: DevTools, Area: Infrastructure, Type: Bug
