Repository Unidata/MetPy, pull requests merged in 2020-07, with the labels that each got.

#1396 Improved data and colormap scaling for Level3File example.
  examples/formats/NEXRAD_Level_3_File.py
Labels: Area: Examples, Type: Enhancement

#1381 Update saturation_mixing_ratio docstring
  src/metpy/calc/thermo.py
Labels: Area: Docs, Type: Enhancement

#1421 CI Maintenance
  .github/dependabot.yml
  .github/workflows/ci.yml
  .travis.yml
  CONTRIBUTING.md
  ci/Current.txt
  ci/Minimum
  ci/Prerelease
  docs/index.rst
Labels: Area: Infrastructure, Type: Maintenance

#1425 Fix _check_argument_units for pint __eq__ returning duck array
  src/metpy/units.py
Labels: Area: Calc, Type: Bug

#1426 Fix masked array issue in equivalent potential temperature
  src/metpy/calc/thermo.py
  tests/calc/test_thermo.py
Labels: Area: Calc, Type: Bug

#1331 Adds a scale attribute for declarative syntax
  src/metpy/plots/declarative.py
  tests/plots/baseline/test_declarative_gridded_scale.png
  tests/plots/test_declarative.py
Labels: Area: Plots, Type: Enhancement

#1401 Fix masked arrays breaking wind_direction #1390
  src/metpy/calc/basic.py
  tests/calc/test_basic.py
Labels: Area: Calc, Type: Bug

#1431 Fix quantified/units-on-attribute mixtures in tests and derivative calculations for xarray 0.16.0
  ci/Current.txt
  src/metpy/calc/tools.py
  tests/calc/test_basic.py
  tests/calc/test_calc_tools.py
  tests/interpolate/test_slices.py
Labels: Area: Xarray, Type: Maintenance

#1394 Removing 'Say Thanks' Link (#1377)
  docs/_templates/footer.html
Labels: Area: Docs, Type: Maintenance

#1432 ENH: Add workflow performing CodeQL analysis
  .github/workflows/code-analysis.yml
Labels: Area: Infrastructure, Type: Enhancement

#1433 CI Workflow Improvements
  .codecov.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/tests-conda.yml
  .github/workflows/tests-pypi.yml
Labels: Area: Infrastructure, Type: Enhancement

#1434 Test maintenance
  README.md
  src/metpy/calc/basic.py
  src/metpy/calc/thermo.py
  src/metpy/io/metar.py
  tests/plots/test_skewt.py
  tests/units/test_units.py
Labels: Area: Tests, Type: Maintenance

#1430 Xarray accessor updates to remove automatic quantification and in-place operations
  ci/Minimum
  docs/installguide.rst
  setup.cfg
  src/metpy/xarray.py
  tests/test_xarray.py
Labels: Area: Xarray, Type: Maintenance
