Repository Unidata/MetPy, pull requests merged in 2020-01, with the labels that each got.

#1266 Fixes
  examples/plots/upperair_declarative.py
  src/metpy/calc/thermo.py
  src/metpy/calc/tools.py
  tests/calc/test_basic.py
  tests/calc/test_kinematics.py
  tests/calc/test_thermo.py
  tests/interpolate/test_one_dimension.py
Labels: Area: Examples, Area: Units, Type: Bug, Type: Maintenance

#1282 More pint fixes
  examples/sigma_to_pressure_interpolation.py
  src/metpy/calc/thermo.py
  src/metpy/plots/station_plot.py
  tests/plots/baseline/test_simple_layout.png
  tests/plots/baseline/test_stationlayout_api.png
  tests/plots/test_skewt.py
  tests/plots/test_station_plot.py
Labels: Area: Docs, Area: Examples, Area: Tests, Type: Maintenance

#1139 Limit shading of CIN
  examples/Advanced_Sounding.py
  src/metpy/plots/skewt.py
  tests/plots/baseline/test_skewt_shade_area.png
  tests/plots/baseline/test_skewt_shade_area_kwargs.png
  tests/plots/baseline/test_skewt_shade_cape_cin.png
  tests/plots/baseline/test_skewt_shade_cape_cin_no_limit.png
  tests/plots/baseline/test_skewt_wide_aspect_ratio.png
  tests/plots/test_skewt.py
  tutorials/upperair_soundings.py
Labels: Area: Plots, Type: Enhancement

#1281 Add percent sign and UDUNITS exponent syntax support via Pint's new preprocessor option
  src/metpy/units.py
  tests/units/test_units.py
Labels: Area: Units, Type: Enhancement

#1286 Removals of all deprecated stuff
  .appveyor.yml
  .travis.yml
  docs/_templates/overrides/metpy.calc.rst
  docs/startingguide.rst
  examples/isentropic_example.py
  examples/meteogram_metpy.py
  src/metpy/calc/indices.py
  src/metpy/calc/kinematics.py
  src/metpy/calc/thermo.py
  src/metpy/future.py
  src/metpy/plots/ctables.py
  src/metpy/plots/skewt.py
  src/metpy/xarray.py
  tests/calc/test_indices.py
  tests/calc/test_kinematics.py
  tests/calc/test_thermo.py
  tests/plots/test_ctables.py
  tests/plots/test_skewt.py
  tests/test_testing.py
  tests/test_xarray.py
Labels: Area: Calc, Area: Docs, Area: Examples, Type: API Change, Type: Maintenance

#1285 Refactor parse_cf to not modify coordinates inplace
  src/metpy/xarray.py
Labels: Area: Xarray, Type: Maintenance

#1267 adds functionality to obs declarative
  src/metpy/plots/declarative.py
  tests/plots/baseline/test_declarative_upa_obs.png
  tests/plots/test_declarative.py
Labels: Area: Plots, Type: Enhancement

#1264 Add station plot locations
  src/metpy/plots/station_plot.py
  tests/plots/baseline/test_station_plot_locations.png
  tests/plots/test_station_plot.py
Labels: Area: Plots, Type: Enhancement

#1272 fixes read of metar file with bad encoding
  src/metpy/io/_tools.py
  src/metpy/static-data-manifest.txt
  staticdata/2020010600_sao.wmo
  tests/io/test_metar.py
Labels: Area: IO, Type: Bug

#1294 Misc small items
  docs/_static/rothfusz-1990-heat-index-equation.pdf
  docs/index.rst
  docs/references.rst
  setup.cfg
  src/metpy/plots/declarative.py
  tests/plots/baseline/test_declarative_colored_barbs.png
  tests/plots/test_declarative.py
Labels: Area: Docs, Area: Plots, Type: Bug, Type: Maintenance

#1273 adds function to lookup and add station lat/lon to dataframe
  src/metpy/io/station_data.py
  tests/io/test_station_data.py
Labels: Area: IO, Type: Feature

#1298 Declarative fixes
  src/metpy/plots/declarative.py
  tests/plots/test_declarative.py
Labels: Area: Plots, Type: Enhancement

#1301 Clarify documentation on layers traits
  src/metpy/plots/declarative.py
Labels: Area: Docs, Area: Plots

#1299 Renames
  CONTRIBUTING.md
  examples/cross_section.py
  examples/isentropic_example.py
  src/metpy/calc/basic.py
  src/metpy/calc/cross_sections.py
  src/metpy/calc/indices.py
  src/metpy/calc/kinematics.py
  src/metpy/calc/thermo.py
  src/metpy/calc/tools.py
  src/metpy/plots/skewt.py
  tests/calc/test_calc_tools.py
  tests/calc/test_indices.py
  tests/calc/test_thermo.py
Labels: Area: Calc, Type: Enhancement

#1280 Fix the documentation around the declarative colorbar
  src/metpy/plots/declarative.py
Labels: Area: Docs, Type: Bug

#1260 Refactor xarray grid deltas calculation to handle axis order flexibly
  src/metpy/calc/tools.py
  src/metpy/calc/turbulence.py
  src/metpy/xarray.py
  tests/calc/test_calc_tools.py
  tests/test_xarray.py
Labels: Area: Xarray, Type: Enhancement

#1302 Remove dim_order
  src/metpy/calc/kinematics.py
  tests/calc/test_kinematics.py
Labels: Area: Calc, Type: API Change

#1223 Add arbitrary window smoother and refactor existing smoothers
  docs/_templates/overrides/metpy.calc.rst
  docs/gempak.rst
  examples/calculations/Smoothing.py
  src/metpy/calc/basic.py
  src/metpy/calc/tools.py
  tests/calc/test_basic.py
  tests/calc/test_calc_tools.py
  tutorials/xarray_tutorial.py
Labels: Area: Calc, Type: Feature

#1303 Implement basic coordinate/CRS/attribute dataset helpers
  .travis.yml
  docs/installguide.rst
  setup.cfg
  src/metpy/xarray.py
  tests/test_xarray.py
Labels: Area: Calc, Area: Xarray, Type: Feature

#1309 Maintenance
  examples/plots/metar_20190715_0000.txt
  setup.cfg
  tests/calc/test_basic.py
  tests/calc/test_calc_tools.py
  tests/test_xarray.py
  tutorials/upperair_soundings.py
Labels: Area: Examples, Type: Maintenance
