Repository Unidata/MetPy, pull requests merged in 2020-12, with the labels that each got.

#1592 take float or int for figsize in declarative
  src/metpy/plots/declarative.py
  tests/plots/baseline/test_declarative_figsize.png
  tests/plots/test_declarative.py
Labels: Area: Plots, Type: Bug

#1457 New theme and organization for docs
  .github/workflows/docs.yml
  SUPPORT.md
  ci/doc_requirements.txt
  docs/CONTRIBUTING.md
  docs/Makefile
  docs/SUPPORT.md
  docs/_static/doc_shared.js
  docs/_static/metpy_horizontal.png
  docs/_static/pop_ver.js
  docs/_static/radar.png
  docs/_static/sounding.png
  docs/_static/theme-unidata.css
  docs/_static/theme_override.css
  docs/_templates/breadcrumbs.html
  docs/_templates/docs-navbar.html
  docs/_templates/footer.html
  docs/_templates/layout.html
  docs/api/index.rst
  docs/api/references.rst
  docs/conf.py
  docs/devel/CONTRIBUTING.md
  docs/devel/index.rst
  docs/devel/infrastructureguide.rst
  docs/devel/roadmap.rst
  docs/doc-server.py
  docs/index.rst
  docs/make.bat
  docs/test-server/banner.html
  docs/test-server/versions.json
  docs/units.rst
  docs/userguide/SUPPORT.md
  docs/userguide/citing.rst
  docs/userguide/gempak.rst
  docs/userguide/index.rst
  docs/userguide/installguide.rst
  docs/userguide/media.rst
  docs/userguide/startingguide.rst
  docs/userguide/upgradeguide.rst
  examples/README.txt
  setup.cfg
  tutorials/unit_tutorial.py
Labels: Area: Docs, Type: Feature

#1598 New Automation
  .codeclimate.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
  .github/workflows/assign-milestone.yml
  .github/workflows/draft-release.yml
  .mdl_style.rb
  .mdlrc
  CLA.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  SUPPORT.md
  ci/deploy_docs.sh
  ci/deploy_key.enc
  docs/devel/infrastructureguide.rst
  tools/README.md
Labels: Area: Infrastructure, Type: Feature

#1525 Contributors List
  .mailmap
  AUTHORS.txt
Labels: Area: Docs, Type: Maintenance

#1605 Redo xarray with MetPy tutorial for 1.0
  .gitignore
  setup.cfg
  src/metpy/xarray.py
  tutorials/xarray_tutorial.py
Labels: Area: Docs, Area: Xarray, Type: Enhancement

#1614 Improve the citation information
  docs/conf.py
  docs/userguide/citing.rst
Labels: Area: Docs, Type: Bug

#1386 Edits to MetPy; adding capitals, making website look more cohessive
  src/metpy/calc/basic.py
  src/metpy/calc/cross_sections.py
  src/metpy/calc/indices.py
  src/metpy/calc/kinematics.py
  src/metpy/calc/thermo.py
  src/metpy/calc/tools.py
Labels: Area: Docs, Type: Maintenance

#1619 MNT: Rename Current.txt to requirements.txt
  .github/workflows/docs-conda.yml
  .github/workflows/docs.yml
  .github/workflows/tests-conda.yml
  .github/workflows/tests-pypi.yml
  CONTRIBUTING.md
  ci/requirements.txt
Labels: Area: Infrastructure, Type: Maintenance

#1617 Enable flake8 simplify
  ci/linting_requirements.txt
  setup.cfg
  src/metpy/calc/basic.py
  src/metpy/calc/thermo.py
  src/metpy/io/_tools.py
  src/metpy/io/nexrad.py
  src/metpy/plots/declarative.py
  src/metpy/xarray.py
  tests/io/test_gini.py
  tests/plots/test_cartopy_utils.py
Labels: Area: Infrastructure, Type: Enhancement, Type: Maintenance

#1612 Handle changed functions in check_units decorator
  setup.cfg
  src/metpy/calc/basic.py
  src/metpy/calc/cross_sections.py
  src/metpy/calc/indices.py
  src/metpy/calc/kinematics.py
  src/metpy/calc/thermo.py
  src/metpy/calc/tools.py
  src/metpy/units.py
  tests/calc/test_thermo.py
Labels: Area: Units, Type: Enhancement

#1626 GH Action Workflow Updates
  .github/workflows/code-analysis.yml
  .github/workflows/release.yml
Labels: Area: Infrastructure, Type: Maintenance

#1625 DataArray Fixes
  src/metpy/calc/indices.py
  src/metpy/xarray.py
  tests/calc/test_indices.py
  tests/calc/test_thermo.py
Labels: Area: Calc, Area: Xarray, Type: Bug

#1618 Finish off upgrade guide
  docs/_static/new.png
  docs/_static/old.png
  docs/_static/theme-unidata.css
  docs/conf.py
  docs/userguide/apichange.rst
  docs/userguide/upgradeguide.rst
Labels: Area: Docs, Type: Feature

#1627 Standardize constant and thermophysical properties
  docs/api/references.rst
  setup.cfg
  src/metpy/calc/basic.py
  src/metpy/calc/thermo.py
  src/metpy/constants.py
  tests/calc/test_basic.py
  tests/calc/test_calc_tools.py
  tests/calc/test_indices.py
  tests/calc/test_kinematics.py
  tests/calc/test_thermo.py
  tests/plots/baseline/test_skewt_api.png
  tests/plots/baseline/test_skewt_api_units.png
  tests/plots/baseline/test_skewt_default_aspect_empty.png
  tests/plots/test_skewt.py
Labels: Area: Calc, Area: Tests, Type: Maintenance
