Repository Unidata/MetPy, pull requests merged in 2020-08, with the labels that each got.

#1441 Replace use of Dataset.apply and .drop to clear PendingDeprecationWarnings
  src/metpy/interpolate/slices.py
  tests/calc/test_cross_sections.py
  tests/calc/test_kinematics.py
  tests/test_xarray.py
Labels: Area: Xarray, Type: Maintenance

#1443 Fix formatting of link in references
  docs/references.rst
Labels: Area: Docs, Type: Maintenance

#1452 Doc fixes
  .travis.yml
  CONTRIBUTING.md
  docs/_templates/overrides/metpy.plots.ctables.rst
  src/metpy/plots/ctables.py
Labels: Area: Docs, Type: Maintenance

#1395 Adds text plotting to declarative
  src/metpy/plots/declarative.py
  tests/plots/baseline/test_declarative_sfc_text.png
  tests/plots/test_declarative.py
Labels: Area: Plots, Type: Enhancement

#1329 Convert obs units
  src/metpy/plots/declarative.py
  src/metpy/plots/station_plot.py
  tests/plots/baseline/test_declarative_multiple_sfc_obs_change_units.png
  tests/plots/baseline/test_declarative_sfc_obs_change_units.png
  tests/plots/baseline/test_declarative_upa_obs_convert_barb_units.png
  tests/plots/baseline/test_stationplot_unit_conversion.png
  tests/plots/test_declarative.py
  tests/plots/test_station_plot.py
Labels: Area: Plots, Type: Enhancement

#1365 Latlon from azran
  .gitattributes
  docs/_templates/overrides/metpy.calc.rst
  src/metpy/calc/tools.py
  tests/calc/test_calc_tools.py
Labels: Area: Calc, Type: Feature

#1466 Update for traitlets 5
  conftest.py
  src/metpy/plots/declarative.py
  tests/plots/baseline/test_declarative_colored_barbs.png
  tests/plots/baseline/test_declarative_multiple_sfc_obs_change_units.png
  tests/plots/baseline/test_declarative_sfc_obs_full.png
  tests/plots/test_declarative.py
Labels: Area: Plots, Type: Bug

#1473 Modernize for Python 3 a bit more
  docs/override_check.py
  examples/Four_Panel_Map.py
  examples/formats/NEXRAD_Level_3_File.py
  examples/gridding/Inverse_Distance_Verification.py
  examples/gridding/Natural_Neighbor_Verification.py
  examples/isentropic_example.py
  examples/meteogram_metpy.py
  examples/sigma_to_pressure_interpolation.py
  src/metpy/calc/tools.py
  src/metpy/cbook.py
  src/metpy/deprecation.py
  src/metpy/interpolate/one_dimension.py
  src/metpy/io/_tools.py
  src/metpy/io/gini.py
  src/metpy/io/metar_parser.py
  src/metpy/io/nexrad.py
  src/metpy/io/station_data.py
  src/metpy/plots/cartopy_utils.py
  src/metpy/plots/ctables.py
  src/metpy/plots/declarative.py
  src/metpy/plots/mapping.py
  src/metpy/plots/skewt.py
  src/metpy/plots/station_plot.py
  src/metpy/plots/wx_symbols.py
  src/metpy/testing.py
  src/metpy/units.py
  src/metpy/xarray.py
  tests/interpolate/test_grid.py
  tests/interpolate/test_points.py
  tests/test_deprecation.py
  tests/test_xarray.py
Labels: Type: Maintenance

#1454 Improve testing framework and infrastructure
  .github/workflows/tests-pypi.yml
  conftest.py
  src/metpy/plots/cartopy_utils.py
  src/metpy/plots/declarative.py
  src/metpy/plots/mapping.py
  src/metpy/testing.py
  src/metpy/xarray.py
  tests/calc/test_calc_tools.py
  tests/calc/test_cross_sections.py
  tests/calc/test_kinematics.py
  tests/interpolate/test_slices.py
  tests/io/test_gini.py
  tests/plots/test_cartopy_utils.py
  tests/plots/test_declarative.py
  tests/plots/test_mapping.py
  tests/plots/test_station_plot.py
  tests/test_xarray.py
Labels: Area: Infrastructure, Area: Tests, Type: Enhancement
