Repository Unidata/MetPy, pull requests merged in 2020-04, with the labels that each got.

#1325 Switching to Quantity-in-DataArray/NEP 18 Support over DataArray-with-units-attribute
  .gitignore
  .travis.yml
  docs/installguide.rst
  examples/Four_Panel_Map.py
  examples/cross_section.py
  setup.cfg
  src/metpy/calc/basic.py
  src/metpy/calc/cross_sections.py
  src/metpy/calc/indices.py
  src/metpy/calc/kinematics.py
  src/metpy/calc/thermo.py
  src/metpy/calc/tools.py
  src/metpy/interpolate/slices.py
  src/metpy/plots/declarative.py
  src/metpy/plots/station_plot.py
  src/metpy/testing.py
  src/metpy/units.py
  src/metpy/xarray.py
  tests/calc/test_calc_tools.py
  tests/calc/test_cross_sections.py
  tests/calc/test_kinematics.py
  tests/calc/test_thermo.py
  tests/interpolate/test_slices.py
  tests/plots/test_mapping.py
  tests/test_testing.py
  tests/test_xarray.py
  tests/units/test_units.py
  tutorials/xarray_tutorial.py
Labels: Area: Units, Area: Xarray, Type: API Change, Type: Enhancement

#1352 Fix build
  setup.cfg
  src/metpy/testing.py
  tests/calc/test_cross_sections.py
  tests/calc/test_kinematics.py
  tests/plots/baseline/test_declarative_sfc_obs_full.png
  tests/plots/baseline/test_skewt_default_aspect_empty.png
  tests/plots/baseline/test_skewt_tight_bbox.png
  tests/plots/test_declarative.py
  tests/plots/test_skewt.py
  tests/test_xarray.py
Labels: Area: Tests, Type: Maintenance

#1349 Backport convert_coordinate_units (xarray 0.15.1 fix) to 0.12.x
  .travis.yml
  docs/installguide.rst
  examples/sigma_to_pressure_interpolation.py
  setup.cfg
  src/metpy/calc/thermo.py
  src/metpy/plots/station_plot.py
  src/metpy/xarray.py
  tests/plots/baseline/test_declarative_sfc_obs_full.png
  tests/plots/baseline/test_simple_layout.png
  tests/plots/baseline/test_skewt_default_aspect_empty.png
  tests/plots/baseline/test_skewt_tight_bbox.png
  tests/plots/baseline/test_stationlayout_api.png
  tests/plots/test_declarative.py
  tests/plots/test_skewt.py
  tests/plots/test_station_plot.py
  tests/test_xarray.py
  tutorials/upperair_soundings.py
Labels: Area: Units, Area: Xarray, Type: Bug

#1359 Add warning to xarray tutorial to avoid Quantity-in-xarray in pre-1.0 MetPy
  tutorials/xarray_tutorial.py
Labels: Area: Docs, Area: Units, Area: Xarray
