Repository Unidata/MetPy, pull requests merged in 2021-09, with the labels that each got.

#2073 Add argument name check in preprocess_and_wrap, and fix dewpoint_from_specific_humidity
  src/metpy/calc/thermo.py
  src/metpy/xarray.py
  tests/test_xarray.py
Labels: Type: Bug, Area: Calc, Area: Xarray

#2105 Fix CI builds with Cartopy
  .github/workflows/docs-conda.yml
  .github/workflows/docs.yml
  .github/workflows/nightly-builds.yml
  .github/workflows/tests-conda.yml
  .github/workflows/tests-pypi.yml
  ci/download_cartopy_maps.py
  docs/api/references.rst
  docs/conf.py
  examples/cross_section.py
  examples/isentropic_example.py
  setup.cfg
Labels: Area: Infrastructure, Type: Maintenance

#2107 Add linkchecker to nightly CI run
  .github/workflows/nightly-builds.yml
Labels: Area: Infrastructure, Type: Enhancement

#2085 Fix broken links in GEMPAK Comparison Guide
  docs/userguide/gempak.rst
Labels: Type: Bug, Area: Docs

#2089 Allow adjacent points in sounding to have the same pressure
  src/metpy/calc/thermo.py
Labels: Type: Bug, Area: Calc

#2068 A couple of doc fixes
  .github/workflows/docs-conda.yml
  README.md
  ci/doc_requirements.txt
  ci/test_requirements.txt
  src/metpy/calc/thermo.py
Labels: Type: Bug, Area: Docs, Area: Calc

#2076 Add wind gusts to parsed METAR output
  src/metpy/io/_metar_parser/metar_parser.peg
  src/metpy/io/_metar_parser/metar_parser.py
  src/metpy/io/metar.py
  tests/io/test_metar.py
Labels: Type: Enhancement, Area: IO

#2066 Store grid mapping on metpy_crs coord rather than DataArray attrs in GEMPAK reader
  setup.cfg
  src/metpy/io/gempak.py
  tests/io/test_gempak.py
Labels: Type: Bug, Area: IO, Area: Projections

#2110 Fix lifted_index cannot calculate when data at 500 hpa is missing
  src/metpy/calc/thermo.py
  tests/calc/test_thermo.py
Labels: Type: Enhancement, Area: Calc

#2113 Add TT, VT and CT calculate function.
  docs/_templates/overrides/metpy.calc.rst
  docs/api/references.rst
  src/metpy/calc/thermo.py
  tests/calc/test_thermo.py
Labels: Type: Feature, Area: Calc

#2090 Convert instances of boolean indexing to ndarrays to pass dask tests in basic module
  src/metpy/calc/basic.py
  tests/calc/test_basic.py
Labels: Type: Bug, Area: Calc, Area: Xarray
