Repository Unidata/MetPy, pull requests merged in 2021-08, with the labels that each got.

#2004 Add check_units to `geopotential_to_height`
  src/metpy/calc/basic.py
Labels: Area: Calc, Type: Bug

#1967 Check that pressure decreases monotonically in parcel calculations
  src/metpy/calc/__init__.py
  src/metpy/calc/exceptions.py
  src/metpy/calc/thermo.py
  tests/calc/test_thermo.py
  tutorials/xarray_tutorial.py
Labels: Area: Calc, Type: Enhancement

#2007 Fix up Showalter Index calculation
  src/metpy/calc/thermo.py
  tests/calc/test_thermo.py
Labels: Area: Calc, Type: Bug

#2006 ENH: Ignore bad points in reduce_point_density
  src/metpy/calc/tools.py
  tests/calc/test_calc_tools.py
Labels: Area: Calc, Type: Enhancement

#2008 Fix passing degF values to some thermo calculations
  src/metpy/calc/thermo.py
  tests/calc/test_thermo.py
  tests/plots/baseline/test_skewt_default_aspect_empty.png
  tests/plots/test_skewt.py
Labels: Area: Calc, Type: Bug

#1656 Add GEMPAK IO module
  docs/_templates/overrides/metpy.calc.rst
  src/metpy/calc/thermo.py
  src/metpy/io/__init__.py
  src/metpy/io/gempak.py
  src/metpy/static-data-manifest.txt
  staticdata/gem_azimuthal.grd
  staticdata/gem_azimuthal.npz
  staticdata/gem_conical.grd
  staticdata/gem_conical.npz
  staticdata/gem_cylindrical.grd
  staticdata/gem_cylindrical.npz
  staticdata/gem_model_mrg.csv
  staticdata/gem_model_mrg.snd
  staticdata/gem_packing_dec.grd
  staticdata/gem_packing_dec.npz
  staticdata/gem_packing_diff.grd
  staticdata/gem_packing_diff.npz
  staticdata/gem_packing_grib.grd
  staticdata/gem_packing_grib.npz
  staticdata/gem_packing_none.grd
  staticdata/gem_packing_none.npz
  staticdata/gem_ship.csv
  staticdata/gem_ship.sfc
  staticdata/gem_sigw_hght_unmrg.csv
  staticdata/gem_sigw_hght_unmrg.snd
  staticdata/gem_sigw_pres_unmrg.csv
  staticdata/gem_sigw_pres_unmrg.snd
  staticdata/gem_std.csv
  staticdata/gem_std.sfc
  tests/io/test_gempak.py
Labels: Area: IO, Type: Feature

#2009 Clean up some lint in the GEMPAK reader
  .codespellignore
  src/metpy/io/gempak.py
  tests/io/test_gempak.py
Labels: Area: IO, Type: Maintenance

#1991 Create initial CITATION.cff
  CITATION.cff
  CITATION.txt
  docs/_static/unidata_150x150.png
  docs/conf.py
  docs/index.rst
  docs/userguide/citing.rst
Labels: Type: Maintenance, Area: Docs

#1953 Large refactoring and improvement to METAR parser
  .gitattributes
  src/metpy/io/_metar_parser/Makefile
  src/metpy/io/_metar_parser/metar_parser.peg
  src/metpy/io/_metar_parser/metar_parser.py
  src/metpy/io/metar.py
  src/metpy/plots/declarative.py
  src/metpy/plots/station_plot.py
  src/metpy/plots/wx_symbols.py
  tests/io/test_metar.py
  tests/plots/baseline/test_declarative_multiple_sfc_obs_change_units.png
  tests/plots/baseline/test_declarative_sfc_obs_change_units.png
  tests/plots/baseline/test_declarative_station_plot_fontsize.png
  tests/plots/test_declarative.py
  tests/plots/test_wx_symbols.py
Labels: Type: Bug, Type: Enhancement, Area: IO

#1903 Clean up declarative `dir` and tab-completion
  src/metpy/plots/declarative.py
  tests/plots/baseline/test_declarative_contour.png
  tests/plots/baseline/test_declarative_contour_convert_units.png
  tests/plots/baseline/test_declarative_contour_options.png
  tests/plots/baseline/test_declarative_events.png
  tests/plots/baseline/test_declarative_figsize.png
  tests/plots/test_declarative.py
Labels: Type: Enhancement, Area: Plots

#2015 CI: Fix duplicate doc builds on release
  .github/workflows/docs.yml
Labels: Area: Infrastructure, Type: Bug

#1990 Add K Index calculate function.
  docs/_templates/overrides/metpy.calc.rst
  docs/api/references.rst
  src/metpy/calc/thermo.py
  tests/calc/test_thermo.py
Labels: Type: Feature, Area: Calc

#2017 Change from GITHUB_TOKEN to secret SSH key in docs deploy
  .github/workflows/docs.yml
Labels: Area: Infrastructure, Type: Bug

#2026 Denote unused return value as such
  src/metpy/io/gempak.py
Labels: Type: Maintenance, Area: IO

#2021 SPC convective outlook example
  .github/workflows/docs-conda.yml
  ci/doc_requirements.txt
  examples/plots/spc_convective_outlook.py
  src/metpy/static-data-manifest.txt
  staticdata/spc_day1otlk_20210317_1200_lyr.geojson
Labels: Type: Feature, Area: Examples

#2029 Misc cleanups
  src/metpy/calc/thermo.py
  src/metpy/io/_tools.py
Labels: Type: Maintenance, Area: IO, Area: Calc

#2036 Swap "See Also" and "Notes" section in docs
  src/metpy/calc/basic.py
  src/metpy/calc/kinematics.py
  src/metpy/calc/thermo.py
  src/metpy/calc/tools.py
  src/metpy/interpolate/grid.py
  src/metpy/interpolate/points.py
  src/metpy/xarray.py
Labels: Type: Bug, Area: Docs
