Repository Unidata/MetPy, pull requests merged in 2021-03, with the labels that each got.

#1736 use set_yticklabels in examples/meteogram_metpy
  examples/meteogram_metpy.py
Labels: Area: Examples, Area: Plots, Type: Bug

#1738 address numpy 1.20 deprecation of np.{bool,int,float}
  src/metpy/calc/tools.py
  src/metpy/io/nexrad.py
  tests/calc/test_calc_tools.py
Labels: Area: Calc, Type: Maintenance

#1679 Non-pressure weighted bunkers storm motion
  src/metpy/calc/indices.py
  tests/calc/test_indices.py
Labels: Area: Calc, Type: Bug
