Repository Unidata/MetPy, pull requests merged in 2021-12, with the labels that each got.

#2239 BUG: Fix handling of reference level for moist_lapse (Fixes #2128)
  src/metpy/calc/thermo.py
  tests/calc/test_thermo.py
Labels: Type: Bug, Area: Calc

#2241 Reduce warning to a debug log message
  src/metpy/xarray.py
Labels: Type: Maintenance, Area: Projections, Area: Xarray

#2249 MNT: Update test images
  tests/plots/baseline/test_colorfill.png
  tests/plots/baseline/test_colorfill_horiz_colorbar.png
  tests/plots/baseline/test_colorfill_no_colorbar.png
  tests/plots/baseline/test_declarative_contour_cam.png
  tests/plots/baseline/test_declarative_events.png
  tests/plots/baseline/test_declarative_sfc_obs.png
  tests/plots/baseline/test_declarative_sfc_obs_change_units.png
  tests/plots/baseline/test_declarative_sfc_obs_changes.png
  tests/plots/baseline/test_declarative_sfc_obs_full.png
  tests/plots/baseline/test_declarative_upa_obs.png
  tests/plots/baseline/test_declarative_upa_obs_convert_barb_units.png
Labels: Type: Maintenance, Area: Tests, Area: Plots

#2245 Replace pytest.warns(None)
  tests/plots/test_skewt.py
Labels: Type: Maintenance, Area: Tests

#2260 Fix up xarray doc links redirecting
  docs/conf.py
  docs/userguide/startingguide.rst
  tutorials/declarative_tutorial.py
  tutorials/unit_tutorial.py
  tutorials/xarray_tutorial.py
Labels: Type: Maintenance, Area: Docs

#2261 Math tweaks
  examples/gridding/Inverse_Distance_Verification.py
  src/metpy/calc/basic.py
  src/metpy/calc/thermo.py
  src/metpy/calc/turbulence.py
  src/metpy/interpolate/geometry.py
  src/metpy/interpolate/tools.py
  tests/calc/test_basic.py
  tests/plots/test_skewt.py
Labels: Type: Maintenance, Area: Calc

#2274 Update stations.txt
  staticdata/stations.txt
Labels: Type: Bug, Area: IO

#2273 Add description of `scale` to declarative tutorial
  src/metpy/plots/declarative.py
  tutorials/declarative_tutorial.py
Labels: Area: Docs, Type: Enhancement, Area: Plots
