Repository Unidata/MetPy, pull requests merged in 2021-07, with the labels that each got.

#1939 Codespell
  .codespellignore
  .github/workflows/draft-release.yml
  .github/workflows/linting.yml
  ci/linting_requirements.txt
  docs/devel/infrastructureguide.rst
  docs/userguide/gempak.rst
  docs/userguide/media.rst
  examples/gridding/Wind_SLP_Interpolation.py
  examples/meteogram_metpy.py
  examples/plots/Station_Plot_with_Layout.py
  examples/sigma_to_pressure_interpolation.py
  setup.cfg
  src/metpy/calc/basic.py
  src/metpy/calc/cross_sections.py
  src/metpy/calc/indices.py
  src/metpy/calc/kinematics.py
  src/metpy/calc/thermo.py
  src/metpy/calc/tools.py
  src/metpy/interpolate/grid.py
  src/metpy/interpolate/one_dimension.py
  src/metpy/interpolate/points.py
  src/metpy/pandas.py
  src/metpy/plots/declarative.py
  src/metpy/xarray.py
  tests/calc/test_cross_sections.py
  tests/calc/test_kinematics.py
  tests/calc/test_thermo.py
  tests/interpolate/test_grid.py
  tools/flake8-metpy/test_flake8_metpy.py
  tutorials/declarative_tutorial.py
  tutorials/xarray_tutorial.py
Labels: Area: Infrastructure, Type: Feature

#1920 Interpret inverse_flattening = 0 as spherical datum in mapping.py
  src/metpy/plots/mapping.py
  tests/plots/test_mapping.py
Labels: Area: Projections, Type: Bug

#1956 Absolute momentum units bug fix
  src/metpy/calc/cross_sections.py
  tests/calc/test_cross_sections.py
Labels: Area: Calc, Area: Units, Type: Bug

#1947 Set up isort
  ci/linting_requirements.txt
  docs/conf.py
  docs/override_check.py
  examples/plots/Simple_Sounding.py
  examples/plots/Station_Plot_with_Layout.py
  examples/plots/upperair_declarative.py
  pyproject.toml
  setup.cfg
  src/metpy/__init__.py
  src/metpy/_version.py
  src/metpy/calc/tools.py
  src/metpy/interpolate/grid.py
  src/metpy/plots/_mpl.py
  src/metpy/plots/cartopy_utils.py
  src/metpy/plots/declarative.py
  src/metpy/plots/wx_symbols.py
  src/metpy/testing.py
  src/metpy/xarray.py
  tests/calc/test_basic.py
  tests/calc/test_calc_tools.py
  tests/calc/test_cross_sections.py
  tests/calc/test_indices.py
  tests/calc/test_kinematics.py
  tests/calc/test_thermo.py
  tests/interpolate/test_interpolate_tools.py
  tests/interpolate/test_points.py
  tests/plots/test_cartopy_utils.py
  tests/plots/test_declarative.py
  tests/plots/test_skewt.py
  tests/plots/test_station_plot.py
  tests/test_xarray.py
  tests/units/test_units.py
Labels: Area: Infrastructure, Type: Enhancement

#1882 Clarify environment installation steps in CONTRIBUTING
  CONTRIBUTING.md
Labels: Area: Docs, Area: Infrastructure, Type: Maintenance

#1977 Add unit-awareness to azimuth_range_to_lat_lon function
  src/metpy/calc/tools.py
  tests/calc/test_calc_tools.py
Labels: Area: Calc, Type: Enhancement

#1986 Specify coords as dict rather than tuple of tuples in tests
  tests/calc/test_calc_tools.py
Labels: Area: Calc, Type: Bug

#1973 Plotting Shapely objects in declarative interface
  .github/workflows/tests-pypi.yml
  ci/linting_requirements.txt
  src/metpy/plots/declarative.py
  tests/plots/baseline/test_declarative_plot_geometry_lines.png
  tests/plots/baseline/test_declarative_plot_geometry_points.png
  tests/plots/baseline/test_declarative_plot_geometry_polygons.png
  tests/plots/test_declarative.py
Labels: Area: Plots, Type: Feature

#1978 Added equation to relative_humidity_from_dewpoint
  src/metpy/calc/thermo.py
Labels: Area: Docs, Type: Enhancement

#1989 DOC: Fix some equations
  src/metpy/calc/thermo.py
Labels: Area: Docs, Type: Bug
