Repository Unidata/MetPy, pull requests merged in 2021-06, with the labels that each got.

#1896 Drop our explicit pillow dependency for sphinx-gallery
  ci/doc_requirements.txt
Labels: Area: Docs, Area: Infrastructure, Type: Maintenance

#1899 Add font size traits to various classes
  src/metpy/plots/declarative.py
  tests/plots/baseline/test_declarative_colorbar_fontsize.png
  tests/plots/baseline/test_declarative_contour_label_fontsize.png
  tests/plots/baseline/test_declarative_station_plot_fontsize.png
  tests/plots/baseline/test_declarative_title_fontsize.png
  tests/plots/test_declarative.py
Labels: Area: Plots, Type: Enhancement

#1914 Refactor mean_pressure_weighted()
  src/metpy/calc/indices.py
Labels: Area: Calc, Type: Maintenance

#1913 CI: Add flake8-continuation to our plugin suite
  ci/linting_requirements.txt
  docs/api/references.rst
  src/metpy/calc/basic.py
  src/metpy/calc/indices.py
  src/metpy/io/metar.py
  tests/calc/test_kinematics.py
Labels: Area: Calc, Area: Docs, Area: Infrastructure, Type: Enhancement, Type: Maintenance

#1921 Remove any Pint objects from METAR parser output
  src/metpy/io/metar.py
  tests/io/test_metar.py
Labels: Area: IO, Area: Units, Type: Bug

#1907 Region modifiers with '+' or '-' suffix
  src/metpy/plots/declarative.py
  tests/plots/baseline/test_declarative_region_modifier_zoom_in.png
  tests/plots/baseline/test_declarative_region_modifier_zoom_out.png
  tests/plots/test_declarative.py
Labels: Area: Plots, Type: Feature

#1908 Improved formatting of notes section of METAR parser
  docs/api/references.rst
  setup.cfg
  src/metpy/io/metar.py
  src/metpy/plots/wx_symbols.py
  tests/io/test_metar.py
Labels: Area: Docs, Type: Bug

#1925 Improve nightly build logs
  .github/workflows/nightly-builds.yml
  ci/gen_versions_json.py
Labels: Area: Infrastructure, Type: Bug, Type: Maintenance

#985 Set __module__ for exported functions.
  conftest.py
  src/metpy/calc/__init__.py
  src/metpy/interpolate/__init__.py
  src/metpy/io/__init__.py
  src/metpy/package_tools.py
  src/metpy/plots/__init__.py
  tests/test_packaging.py
Labels: Area: Infrastructure, Type: Enhancement

#1926 More descriptive errors for precipitable_water
  src/metpy/calc/indices.py
  tests/calc/test_indices.py
Labels: Area: Calc, Type: Enhancement

#1931 Update xarray git install for nightly build
  .github/workflows/nightly-builds.yml
Labels: Area: Infrastructure, Type: Maintenance

#1673 Adding Showalter Index to Thermo Functions
  docs/_templates/overrides/metpy.calc.rst
  src/metpy/calc/thermo.py
  tests/calc/test_thermo.py
Labels: Area: Calc, Type: Feature

#1928 Improve some import handling
  src/metpy/io/metar.py
  src/metpy/plots/__init__.py
  src/metpy/plots/cartopy_utils.py
  tests/plots/test_cartopy_utils.py
Labels: Area: Infrastructure, Type: Bug, Type: Enhancement

#1934 Code scanning
  .codeclimate.yml
  .github/codeql/codeql-config.yml
  .github/workflows/code-analysis.yml
  .lgtm.yml
  setup.cfg
  src/metpy/io/_metar_parser/metar_parser.peg
  src/metpy/io/_metar_parser/metar_parser.py
  src/metpy/io/metar.py
  src/metpy/io/nexrad.py
  src/metpy/pandas.py
  src/metpy/plots/cartopy_utils.py
  src/metpy/plots/wx_symbols.py
  tests/calc/test_basic.py
  tests/plots/test_cartopy_utils.py
  tests/test_xarray.py
Labels: Area: Infrastructure, Type: Bug, Type: Maintenance

#1943 Units bug fix for _get_bound_pressure_height
  src/metpy/calc/tools.py
  tests/calc/test_calc_tools.py
Labels: Area: Calc, Type: Bug

#1942 Hodograph fixes
  src/metpy/calc/tools.py
  src/metpy/plots/_util.py
  src/metpy/plots/skewt.py
  tests/plots/baseline/test_hodograph_masked_array.png
  tests/plots/test_skewt.py
Labels: Area: Plots, Type: Bug

#1937 Cleaning up analysis warnings
  conftest.py
  docs/conf.py
  setup.cfg
  src/metpy/io/metar.py
  src/metpy/io/nexrad.py
  src/metpy/plots/cartopy_utils.py
  src/metpy/testing.py
  tests/interpolate/test_grid.py
  tests/interpolate/test_points.py
  tests/io/test_nexrad.py
  tests/plots/test_cartopy_utils.py
  tests/plots/test_declarative.py
  tests/plots/test_mapping.py
  tests/plots/test_mpl.py
  tests/plots/test_skewt.py
  tests/plots/test_station_plot.py
  tests/plots/test_util.py
  tests/units/test_units.py
Labels: Area: IO, Area: Tests, Type: Bug, Type: Maintenance
