Repository Unidata/MetPy, pull requests merged in 2022-12, with the labels that each got.

#2813 Conditionally define percent unit
  src/metpy/units.py
Labels: Type: Maintenance, Area: Units

#2819 Change default SPECI parsing
  src/metpy/io/gempak.py
  tests/io/test_gempak.py
Labels: Type: Enhancement, Area: IO

#2851 MNT: Update link for TDS
  docs/userguide/startingguide.rst
Labels: Type: Maintenance, Area: Docs

#2852 Ensure degree units by default for lat/lon in xarray
  src/metpy/xarray.py
  tests/test_xarray.py
Labels: Type: Bug, Area: Units, Area: Xarray

#2743 Derivatives & map factors
  conftest.py
  docs/_templates/overrides/metpy.calc.rst
  setup.cfg
  src/metpy/calc/kinematics.py
  src/metpy/calc/tools.py
  src/metpy/xarray.py
  tests/calc/test_calc_tools.py
  tests/calc/test_kinematics.py
  tests/test_xarray.py
Labels: Type: Enhancement, Area: Calc, Area: Projections, Area: Xarray
