Repository Unidata/MetPy, pull requests merged in 2022-09, with the labels that each got.

#2588 DOCS: Add numerous calculation examples
  src/metpy/calc/basic.py
  src/metpy/calc/indices.py
  src/metpy/calc/kinematics.py
  src/metpy/calc/thermo.py
Labels: Area: Docs, Type: Enhancement

#2654 rebuild metar_parser with canopy 0.4.0
  src/metpy/io/_metar_parser/metar_parser.py
Labels: Type: Maintenance, Area: IO

#2653 catch metar visibility with zero denominator
  src/metpy/io/metar.py
  tests/io/test_metar.py
Labels: Type: Bug, Area: IO

#2655 DOCS: create .magnitude tutorial
  tutorials/unit_tutorial.py
Labels: Area: Docs, Type: Enhancement

#2656 Fix inconsistent R_v and Cp_l unit definitions
  src/metpy/constants/default.py
Labels: Type: Maintenance, Area: Calc

#2644 Adds ArrowPlot to declarative
  setup.cfg
  src/metpy/plots/declarative.py
  tests/plots/baseline/test_declarative_arrow_changes.png
  tests/plots/baseline/test_declarative_arrowkey.png
  tests/plots/baseline/test_declarative_arrowplot.png
  tests/plots/test_declarative.py
Labels: Type: Feature, Area: Plots

#2587 Adding Raster Plot functionality
  examples/plots/raster_declarative.py
  src/metpy/plots/declarative.py
  tests/plots/baseline/test_declarative_raster.png
  tests/plots/baseline/test_declarative_raster_events.png
  tests/plots/test_declarative.py
Labels: Type: Feature, Area: Plots

#2658 Fix truncated text and decode SPCL obs
  .codespellignore
  src/metpy/io/gempak.py
  src/metpy/static-data-manifest.txt
  staticdata/gem_surface_with_text.csv
  staticdata/gem_surface_with_text.sfc
  staticdata/gem_unmerged_with_text.csv
  staticdata/gem_unmerged_with_text.snd
  tests/io/test_gempak.py
Labels: Type: Bug, Area: IO

#2667 MNT: Update SkewXAxis for Matplotlib 3.6
  src/metpy/plots/skewt.py
Labels: Type: Maintenance, Area: Plots

#2645 add left and right title option
  src/metpy/plots/declarative.py
  tests/plots/baseline/test_declarative_titles.png
  tests/plots/test_declarative.py
Labels: Type: Feature, Area: Plots

#2628 add 2D calculation examples
  examples/calculations/Absolute_Vorticity.py
  examples/calculations/Advection.py
  examples/calculations/Divergence.py
  examples/calculations/QVector.py
  examples/calculations/Shearing_Deformation.py
  examples/calculations/Stretching_Deformation.py
  examples/calculations/Total_Deformation.py
  examples/calculations/Vorticity.py
  examples/calculations/Wind_Speed.py
  src/metpy/cbook.py
  tests/test_cbook.py
Labels: Type: Feature, Area: Examples

#2673 DOC: Improve some formatting issues in docstrings
  src/metpy/calc/thermo.py
Labels: Type: Maintenance, Area: Docs

#2668 DOC: Fix artifact in NEXRAD level 2 example
  examples/formats/NEXRAD_Level_2_File.py
Labels: Type: Bug, Area: Examples

#2666 CI: Remove code to build PROJ
  .github/actions/install-pypi/action.yml
  .github/actions/setup-proj/action.yml
Labels: Area: Infrastructure, Type: Maintenance

#2659 DOC: Correct mixed_layer_cape_cin example
  src/metpy/calc/thermo.py
Labels: Type: Bug, Area: Docs

#2674 Fix resolution of grids generated by interpolate
  src/metpy/interpolate/grid.py
  tests/interpolate/test_grid.py
  tests/interpolate/test_interpolate_tools.py
Labels: Type: Bug, Area: Gridding

#2580 Add SWEAT Index calculate function.
  docs/_templates/overrides/metpy.calc.rst
  setup.cfg
  src/metpy/calc/thermo.py
  tests/calc/test_thermo.py
Labels: Type: Feature, Area: Calc

#2688 Bump image test tolerance for osx-arm64
  tests/plots/test_declarative.py
  tests/plots/test_skewt.py
  tests/plots/test_station_plot.py
Labels: Type: Maintenance, Area: Tests, Area: Plots

#2691 Add metadata to output of gdxarray
  src/metpy/io/gempak.py
  tests/io/test_gempak.py
Labels: Type: Bug, Area: IO

#2326 fix mixing lines keyword args bug
  src/metpy/plots/skewt.py
  tests/plots/baseline/test_skewt_mixing_line_args.png
  tests/plots/test_skewt.py
Labels: Type: Bug, Area: Plots

#2144 Add mean pressure weighted equation
  docs/_templates/overrides/metpy.calc.rst
  src/metpy/calc/indices.py
  tests/calc/test_indices.py
Labels: Area: Docs, Type: Enhancement

#2550 Implement convective condensation level (CCL)
  docs/_templates/overrides/metpy.calc.rst
  src/metpy/calc/thermo.py
  tests/calc/test_thermo.py
Labels: Type: Feature, Area: Calc

#2629 Add numerous sounding examples
  examples/calculations/Bulk_Shear.py
  examples/calculations/Equivalent_Potential_Temperature.py
  examples/calculations/Mean_Pressure_Weighted.py
  examples/calculations/Mountain_Problem.py
  examples/calculations/Sounding_Calculations.py
  examples/calculations/Static_Stability.py
  examples/calculations/Thickness_Hydrostatic.py
  examples/plots/Sounding_LCL_Dataset.py
  src/metpy/static-data-manifest.txt
  staticdata/20110522_OUN_12Z.txt
Labels: Area: Examples, Type: Enhancement

#2696 Clarify meaning of `bottom_up_search`
  src/metpy/calc/thermo.py
  src/metpy/interpolate/grid.py
Labels: Area: Docs, Type: Enhancement

#2689 Update GEMPAK comparison guide
  docs/userguide/gempak.rst
Labels: Type: Maintenance, Area: Docs

#1147 Enable sphinx nitpicky
  docs/conf.py
  docs/userguide/startingguide.rst
  examples/gridding/Natural_Neighbor_Verification.py
  src/metpy/calc/basic.py
  src/metpy/calc/kinematics.py
  src/metpy/calc/thermo.py
  src/metpy/calc/tools.py
  src/metpy/calc/turbulence.py
  src/metpy/cbook.py
  src/metpy/interpolate/geometry.py
  src/metpy/interpolate/grid.py
  src/metpy/interpolate/one_dimension.py
  src/metpy/interpolate/points.py
  src/metpy/interpolate/slices.py
  src/metpy/interpolate/tools.py
  src/metpy/io/__init__.py
  src/metpy/io/gempak.py
  src/metpy/io/nexrad.py
  src/metpy/io/station_data.py
  src/metpy/plots/_mpl.py
  src/metpy/plots/_util.py
  src/metpy/plots/ctables.py
  src/metpy/plots/skewt.py
  src/metpy/plots/station_plot.py
  src/metpy/plots/wx_symbols.py
  src/metpy/testing.py
  src/metpy/units.py
  src/metpy/xarray.py
Labels: Area: Docs, Type: Enhancement
