Repository Unidata/MetPy, pull requests merged in 2022-04, with the labels that each got.

#2398 Make StationLookup a proper Mapping
  src/metpy/io/__init__.py
  src/metpy/io/station_data.py
  tests/io/test_station_data.py
Labels: Type: Enhancement, Area: IO

#2412 Drop repeat pressures in moist region of `parcel_profile`
  src/metpy/calc/thermo.py
  tests/calc/test_thermo.py
Labels: Type: Bug, Area: Calc, Subarea: Thermo

#2419 Make install-pypi action handle extra requirements
  .github/actions/install-pypi/action.yml
  .github/workflows/docs.yml
  .github/workflows/nightly-builds.yml
  .github/workflows/tests-pypi.yml
Labels: Area: Infrastructure, Type: Bug

#2421 DOC: switch order of Parameters in specific_humidity_from_dewpoint
  src/metpy/calc/thermo.py
Labels: Type: Bug, Area: Docs

#2424 fix isentropic example
  examples/isentropic_example.py
Labels: Type: Bug, Area: Examples

#2425 add declarative layer attributes control
  src/metpy/plots/declarative.py
  tests/plots/baseline/test_declarative_layers_plot_options.png
  tests/plots/test_declarative.py
Labels: Type: Feature, Area: Plots

#2428 Update media page
  docs/userguide/media.rst
Labels: Type: Maintenance, Area: Docs, Type: Enhancement

#2422 add accessor convert to base units
  src/metpy/xarray.py
  tests/test_xarray.py
  tutorials/xarray_tutorial.py
Labels: Type: Feature, Area: Xarray

#2433 Fix linkcheck
  ci/filter_links.py
  docs/conf.py
Labels: Type: Maintenance, Area: Docs

#2442 Fix value mapper for NEXRAD DPR product
  src/metpy/io/nexrad.py
  tests/io/test_nexrad.py
Labels: Type: Bug, Area: IO

#2443 CI: Add a workflow to check CITATION.cff
  .github/workflows/cffcheck.yml
Labels: Area: Infrastructure, Type: Enhancement

#2447 TEST: Collapse the NIDS tests together
  tests/io/test_nexrad.py
Labels: Type: Bug, Area: Tests
