Repository Unidata/MetPy, pull requests merged in 2022-10, with the labels that each got.

#2272 Use Pint Application Registry
  src/metpy/interpolate/slices.py
  src/metpy/units.py
  src/metpy/xarray.py
  tests/calc/test_thermo.py
  tests/io/test_metar.py
  tests/test_xarray.py
  tests/units/test_units.py
Labels: Type: Enhancement, Area: Units

#2635 Update GINI Xarray support
  examples/formats/GINI_Water_Vapor.py
  setup.cfg
  src/metpy/io/gini.py
  src/metpy/plots/_util.py
  tests/io/test_gini.py
  tests/plots/test_util.py
Labels: Type: Enhancement, Area: IO, Area: Xarray

#2701 set default METAR year, month from UTC date
  src/metpy/io/metar.py
Labels: Type: Bug, Area: IO

#2717 Add axis labels to some sounding examples
  examples/Advanced_Sounding.py
  examples/plots/Simple_Sounding.py
Labels: Area: Examples, Type: Enhancement

#2727 Point nonmult units link to pint stable
  tutorials/unit_tutorial.py
Labels: Type: Maintenance, Area: Docs

#2728 Interpolate broadcasting
  src/metpy/calc/thermo.py
  src/metpy/calc/tools.py
  src/metpy/cbook.py
  src/metpy/interpolate/one_dimension.py
  tests/interpolate/test_one_dimension.py
Labels: Type: Bug, Area: Calc

#2735 Improve the docs for absolute_momentum
  src/metpy/calc/cross_sections.py
Labels: Area: Docs, Type: Enhancement

#2738 Update reference and link for WMO#8 manual (Fixes #2737)
  docs/api/references.rst
Labels: Type: Maintenance, Area: Docs

#2736 Remove use of deprecated set-output in actions
  .github/actions/build-docs/action.yml
  .github/workflows/backport-prs.yml
Labels: Area: Infrastructure, Type: Maintenance

#2752 Improve default BarbPlot zorder
  src/metpy/plots/declarative.py
  tests/plots/baseline/test_declarative_barb_earth_relative.png
  tests/plots/baseline/test_declarative_barb_options.png
  tests/plots/test_declarative.py
Labels: Type: Bug, Area: Plots

#2751 Fix ContourPlot default linestyle
  src/metpy/plots/declarative.py
  tests/plots/baseline/test_declarative_contour_convert_units.png
  tests/plots/test_declarative.py
Labels: Type: Bug, Area: Plots

#2761 Fix Natural Neighbor Verification example
  examples/gridding/Natural_Neighbor_Verification.py
  src/metpy/interpolate/geometry.py
Labels: Type: Bug, Area: Docs, Area: Examples
