Repository Unidata/MetPy, pull requests merged in 2022-03, with the labels that each got.

#2380 Fix unit power regex for parentheses handling
  src/metpy/units.py
  tests/units/test_units.py
Labels: Type: Bug, Area: Units

#2381 NEXRAD misc updates
  src/metpy/io/_tools.py
  src/metpy/io/nexrad.py
  src/metpy/static-data-manifest.txt
  staticdata/nids/Level3_FTG_N0B_20220304_1820.nids
Labels: Type: Bug, Type: Maintenance, Area: IO

#2402 Fix wet_bulb_temperature for NumPy scalars
  src/metpy/calc/thermo.py
  tests/calc/test_thermo.py
Labels: Type: Bug, Area: Calc, Subarea: Thermo

#2385 Fix declarative smoothing bug
  src/metpy/plots/declarative.py
  tests/plots/baseline/test_declarative_smooth_contour_calculation.png
  tests/plots/test_declarative.py
Labels: Type: Bug, Area: Plots

#2405 Update Codacy link in the dev docs
  docs/devel/infrastructureguide.rst
Labels: Type: Maintenance, Area: Docs

#2300 DOC: add import to wind_components doc string example
  src/metpy/calc/basic.py
Labels: Type: Maintenance, Area: Docs
