Repository Unidata/MetPy, pull requests merged in 2023-08, with the labels that each got.

#3150 Use xfail for test that doesn't fail on arm64.
  tests/calc/test_thermo.py
Labels: Area: Tests

#3131 remove nans from bunkers input
  src/metpy/calc/indices.py
  tests/calc/test_indices.py
Labels: Type: Enhancement, Area: Calc

#3153 DOC: Add negative to equation in the advection docs
  src/metpy/calc/kinematics.py
Labels: Type: Bug, Area: Docs

#3170 Checkout updates
  .github/workflows/cffcheck.yml
  .github/workflows/docs-conda.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .github/workflows/tests-conda.yml
  .github/workflows/tests-pypi.yml
  .github/workflows/unstable-builds.yml
Labels: Area: Infrastructure, Type: Maintenance
