Repository Unidata/MetPy, pull requests merged in 2023-11, with the labels that each got.

#3256 Make tests pass on macOS M2
  tests/calc/test_thermo.py
  tests/interpolate/test_geometry.py
  tests/plots/test_declarative.py
  tests/plots/test_patheffects.py
Labels: Type: Maintenance, Area: Tests, hacktoberfest-accepted

#3174 add more layer options for mappanel
  src/metpy/plots/declarative.py
  tests/plots/baseline/test_declarative_additional_layers_plot_options.png
  tests/plots/baseline/test_declarative_barb_options.png
  tests/plots/test_declarative.py
Labels: Type: Enhancement, Area: Plots

#3242 Standardize RH calcs on WMO8
  pyproject.toml
  src/metpy/calc/thermo.py
  src/metpy/units.py
  tests/calc/test_thermo.py
Labels: Type: Maintenance, Area: Calc, Type: API Change, Subarea: Thermo

#3223 Support Python 3.12
  .github/actions/install-pypi/action.yml
  .github/workflows/docs-conda.yml
  .github/workflows/docs.yml
  .github/workflows/nightly-builds.yml
  .github/workflows/tests-conda.yml
  .github/workflows/tests-pypi.yml
  .github/workflows/unstable-builds.yml
  docs/api/references.rst
  docs/conf.py
  docs/make_areas.py
  pyproject.toml
  src/metpy/io/_tools.py
Labels: Area: Infrastructure, Type: Enhancement, hacktoberfest-accepted

#3265 MNT: Update link to ruff docs
  CONTRIBUTING.md
Labels: Type: Maintenance, Area: Docs

#3271 Generalize testing version comparison
  pyproject.toml
  src/metpy/testing.py
  tests/calc/test_indices.py
  tests/calc/test_thermo.py
  tests/plots/test_declarative.py
  tests/plots/test_skewt.py
  tests/plots/test_util.py
  tests/test_testing.py
Labels: Type: Maintenance, Type: Enhancement, Area: Tests

#3120 add downward cape
  docs/_templates/overrides/metpy.calc.rst
  docs/api/references.rst
  src/metpy/calc/thermo.py
  tests/calc/test_thermo.py
Labels: Type: Feature, Area: Calc

#3147 fix mlcape if parcel_start_pressure != bottom
  src/metpy/calc/thermo.py
  tests/calc/test_thermo.py
Labels: Type: Bug, Area: Calc

#3281 DOC: Theme fixes, source links, and calendar
  docs/_static/theme-unidata.css
  docs/conf.py
  docs/index.rst
  docs/userguide/index.rst
  examples/plots/surface_declarative.py
  src/metpy/units.py
Labels: Type: Maintenance, Area: Docs, Type: Enhancement

#3297 METAR/Station Plot fixes
  src/metpy/io/metar.py
  src/metpy/plots/station_plot.py
  tests/io/test_metar.py
  tests/plots/baseline/test_declarative_sfc_obs.png
  tests/plots/baseline/test_declarative_sfc_obs_args.png
  tests/plots/baseline/test_declarative_sfc_obs_changes.png
  tests/plots/baseline/test_declarative_sfc_obs_full.png
  tests/plots/test_station_plot.py
Labels: Type: Bug, Area: Plots, Area: IO, Area: Units
