Repository Unidata/MetPy, pull requests merged in 2023-12, with the labels that each got.

#3302 Add heat_index calculation examples
  src/metpy/calc/basic.py
Labels: Area: Examples, Type: Enhancement

#3307 return heat_index with temperature units
  src/metpy/calc/basic.py
  tests/calc/test_basic.py
Labels: Type: Enhancement, Area: Calc

#3323 Check for duplicate levels in isentropic_interpolation_as_dataset
  src/metpy/calc/thermo.py
  tests/calc/test_thermo.py
Labels: Type: Enhancement, Area: Calc, Area: Xarray

#3255 Cleanup warnings from tests
  .github/actions/install-pypi/action.yml
  ci/download_cartopy_maps.py
  conftest.py
  docs/conf.py
  examples/meteogram_metpy.py
  pyproject.toml
  src/metpy/calc/basic.py
  src/metpy/calc/cross_sections.py
  src/metpy/calc/thermo.py
  src/metpy/calc/tools.py
  src/metpy/interpolate/points.py
  src/metpy/interpolate/slices.py
  src/metpy/io/nexrad.py
  src/metpy/io/text.py
  src/metpy/plots/_util.py
  src/metpy/plots/declarative.py
  src/metpy/plots/skewt.py
  src/metpy/plots/station_plot.py
  src/metpy/testing.py
  src/metpy/units.py
  src/metpy/xarray.py
  tests/calc/test_basic.py
  tests/calc/test_calc_tools.py
  tests/calc/test_cross_sections.py
  tests/calc/test_indices.py
  tests/calc/test_kinematics.py
  tests/calc/test_thermo.py
  tests/interpolate/test_slices.py
  tests/io/test_gempak.py
  tests/io/test_metar.py
  tests/io/test_nexrad.py
  tests/plots/test_declarative.py
  tests/plots/test_mpl.py
  tests/plots/test_skewt.py
  tests/plots/test_station_plot.py
  tests/plots/test_util.py
  tests/test_xarray.py
Labels: Type: Maintenance, Area: Tests, hacktoberfest-accepted

#3324 Improve isentropic interpolation
  src/metpy/calc/thermo.py
  tests/calc/test_thermo.py
Labels: Type: Bug, Type: Enhancement, Area: Plots, Area: Calc, Area: Gridding, Area: Xarray

#3331 Update LI docs to reference and demonstrate mixed parcel usage
  src/metpy/calc/thermo.py
Labels: Type: Maintenance, Area: Docs

#3336 Avoid pandas warning
  tests/calc/test_basic.py
Labels: Type: Maintenance, Area: Tests, nightly-ci
