Repository Unidata/MetPy, pull requests merged in 2023-06, with the labels that each got.

#3056 Adjust user-provided parcel temperature profile for NaN values in EL and LFC
  src/metpy/calc/thermo.py
  tests/calc/test_thermo.py
Labels: Type: Bug, Area: Calc

#3061 A couple typo fixes in the first paragraph
  docs/userguide/gempak.rst
Labels: Type: Bug, Area: Docs

#3092 Maintenance
  .gitignore
  ci/requirements.txt
Labels: Area: Infrastructure, Type: Maintenance

#3093 Improve advection docstring
  src/metpy/calc/kinematics.py
Labels: Type: Bug, Area: Docs, Area: Calc
