Repository Unidata/MetPy, pull requests merged in 2024-11, with the labels that each got.

#3679 Fix windows environment setup with micromamba
  .github/actions/install-conda/action.yml
Labels: Area: Infrastructure, Type: Maintenance

#3696 Prevent frontogenesis from returning nans
  src/metpy/calc/kinematics.py
  tests/calc/test_kinematics.py
Labels: Type: Enhancement, Area: Calc

#3699 Fix MAG entry in GEMPAK Guide
  docs/userguide/gempak.rst
Labels: Area: Docs, Type: Enhancement
