Repository Unidata/MetPy, pull requests merged in 2024-01, with the labels that each got.

#3347 Fix interpolate_to_slice unit handling
  .gitignore
  src/metpy/interpolate/slices.py
  tests/interpolate/test_slices.py
Labels: Type: Bug, Area: Units

#3351 Update allowed redirect for conda docs
  docs/conf.py
Labels: Area: Infrastructure, Type: Maintenance, Area: Docs

#3355 Fix Plot Geometry Colorfills
  src/metpy/plots/declarative.py
  tests/plots/baseline/test_declarative_plot_geometry_fills.png
  tests/plots/test_declarative.py
Labels: Type: Bug, Area: Plots

#3343 ENH: Add dBZ as a unit in the registry
  src/metpy/units.py
  tests/units/test_units.py
Labels: Type: Enhancement, Area: Units

#3358 Update Ruff config
  ci/linting_requirements.txt
  examples/calculations/Smoothing.py
  examples/gridding/Inverse_Distance_Verification.py
  examples/gridding/Natural_Neighbor_Verification.py
  pyproject.toml
  setup.cfg
  src/metpy/calc/basic.py
  src/metpy/calc/kinematics.py
  src/metpy/calc/thermo.py
  src/metpy/calc/tools.py
  src/metpy/io/gempak.py
  src/metpy/io/nexrad.py
  src/metpy/plots/declarative.py
  tests/calc/test_thermo.py
Labels: Area: Infrastructure, Type: Maintenance
