Repository Unidata/MetPy, pull requests merged in 2024-08, with the labels that each got.

#3606 Bump to numpy 2
  ci/requirements.txt
  examples/meteogram_metpy.py
  src/metpy/calc/thermo.py
  src/metpy/plots/declarative.py
  tests/plots/test_declarative.py
Labels: Type: Maintenance

#3611 Fix links
  docs/userguide/media.rst
  tutorials/upperair_soundings.py
Labels: Type: Maintenance, Area: Docs

#3613 fix wrong input to function
  examples/Advanced_Sounding_With_Complex_Layout.py
Labels: Type: Bug, Area: Docs

#3612 Drop Python 3.9
  .github/workflows/docs-conda.yml
  .github/workflows/docs.yml
  .github/workflows/tests-conda.yml
  .github/workflows/tests-pypi.yml
  README.md
  docs/index.rst
  docs/userguide/installguide.rst
  examples/formats/NEXRAD_Level_2_File.py
  examples/formats/NEXRAD_Level_3_File.py
  examples/gridding/Inverse_Distance_Verification.py
  examples/gridding/Natural_Neighbor_Verification.py
  examples/plots/Plotting_Surface_Analysis.py
  examples/plots/US_Counties.py
  pyproject.toml
  src/metpy/calc/basic.py
  src/metpy/calc/kinematics.py
  src/metpy/calc/thermo.py
  src/metpy/interpolate/grid.py
  src/metpy/interpolate/points.py
  src/metpy/interpolate/tools.py
  src/metpy/io/_tools.py
  src/metpy/io/gempak.py
  src/metpy/io/gini.py
  src/metpy/io/nexrad.py
  src/metpy/plots/_mpl.py
  src/metpy/plots/declarative.py
  src/metpy/plots/patheffects.py
  src/metpy/units.py
  src/metpy/xarray.py
  tests/calc/test_calc_tools.py
  tests/interpolate/test_geometry.py
  tests/interpolate/test_points.py
  tests/plots/test_cartopy_utils.py
  tests/plots/test_patheffects.py
  tests/plots/test_station_plot.py
  tools/flake8-metpy/flake8_metpy.py
Labels: Area: Infrastructure, Type: Maintenance, Area: Docs

#3615 Update redirecting link
  docs/devel/infrastructureguide.rst
Labels: Type: Maintenance, Area: Docs
