Repository Unidata/MetPy, pull requests merged in 2025-08, with the labels that each got.

#3898 Update Cartopy references
  docs/conf.py
  docs/userguide/startingguide.rst
Labels: Type: Maintenance, Area: Docs

#3902 Silence FututreWarning raised by xarray v2025.08.0
  src/metpy/xarray.py
Labels: Type: Maintenance, Area: Tests, nightly-ci

#3876 Update NEXRAD archive bucket name
  src/metpy/remote/aws.py
  tests/remote/fixtures/test_nexrad2_range.yaml
  tests/remote/fixtures/test_nexrad2_single.yaml
Labels: Type: Maintenance, Area: Remote
