Repository Unidata/MetPy, pull requests merged in 2025-02, with the labels that each got.

#3361 ENH: Add shear and curvature vorticity calculations
  docs/_static/Majumdar-2024-curvature-vorticity.pdf
  docs/_templates/overrides/metpy.calc.rst
  docs/api/references.rst
  src/metpy/calc/kinematics.py
  tests/calc/test_kinematics.py
Labels: Type: Feature, Area: Calc

#3757 BUG: Fix turbulence kinetic energy calculation (Fixes #3756)
  src/metpy/calc/turbulence.py
  tests/calc/test_turbulence.py
Labels: Type: Bug, Area: Docs, Area: Tests, Area: Calc

#3758 Avoid returning negative saturation mixing ratios
  src/metpy/calc/thermo.py
  tests/calc/test_thermo.py
Labels: Type: Enhancement, Area: Calc
