Repository Unidata/MetPy, pull requests merged in 2025-04, with the labels that each got.

#3787 Update IAU ref to open link
  docs/_static/Res_IAU2012_B2.pdf
  docs/api/references.rst
Labels: Type: Maintenance, Area: Docs

#3788 Update copyright year in license
  LICENSE
Labels: Area: Infrastructure, Type: Maintenance

#3793 Fix sounding merge bug
  src/metpy/io/gempak.py
  src/metpy/static-data-manifest.txt
  staticdata/gem_nzwp_no_ttcc.csv
  staticdata/gem_nzwp_no_ttcc.snd
  tests/io/test_gempak.py
Labels: Type: Bug, Area: IO

#3789 Redirect python-gallery to cookbook
  README.md
  examples/README.txt
Labels: Area: Docs

#3796 🐛🔨 on zero-size array to reduction operation in lfc when there is no el
  src/metpy/calc/thermo.py
  tests/calc/test_thermo.py
Labels: Type: Bug, Area: Calc

#3726 Ambaum 2020 saturation vapor pressure + phase handling
  docs/conf.py
  src/metpy/calc/thermo.py
  src/metpy/cbook.py
  tests/calc/test_indices.py
  tests/calc/test_thermo.py
  tests/plots/baseline/test_emagram_api.png
  tests/plots/baseline/test_emagram_default_aspect_empty.png
  tests/plots/baseline/test_emagram_mixing_line_args.png
  tests/plots/baseline/test_skewt_api.png
  tests/plots/baseline/test_skewt_api_units.png
  tests/plots/baseline/test_skewt_default_aspect_empty.png
  tests/plots/baseline/test_skewt_mixing_line_args.png
  tests/plots/baseline/test_stuve_api.png
  tests/plots/baseline/test_stuve_default_aspect_empty.png
  tests/plots/baseline/test_stuve_mixing_line_args.png
  tests/test_cbook.py
Labels: Type: Maintenance, Area: Calc, Subarea: Thermo

#3728 Romps 2017 Analytic LCL
  src/metpy/calc/thermo.py
  tests/calc/test_thermo.py
Labels: Type: Enhancement, Area: Calc, Subarea: Thermo
