Repository Unidata/MetPy, pull requests merged in 2025-01, with the labels that each got.

#3670 Documentation theme updates
  docs/_static/NSF-Unidata_lockup_horizontal_2024_darkmode_v3.png
  docs/_static/theme-unidata.css
  docs/conf.py
  docs/index.rst
Labels: Area: Docs, Type: Enhancement

#3725 Moisture/temperature dependent gas constants & latent heat
  docs/_templates/overrides/metpy.calc.rst
  docs/api/references.rst
  docs/conf.py
  src/metpy/calc/thermo.py
  src/metpy/constants/__init__.py
  src/metpy/constants/default.py
  src/metpy/constants/nounit.py
  src/metpy/units.py
  tests/calc/test_thermo.py
Labels: Type: Feature, Area: Calc, Subarea: Thermo

#3690 Fix q_vector units w/ default static stability
  examples/calculations/QVector.py
  src/metpy/calc/kinematics.py
Labels: Type: Bug, Area: Calc
